<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <title>Smartadtags</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
        <link rel="image_src" href="img/chosen-sprite.png">
    </head>
    <body ng-app="app" layout="column" ng-controller="AppCtrl as app" style="overflow:hidden;">
        <div ng-show="logged" style="height:100%; padding-bottom:64px; ">
            <md-toolbar md-scroll-shrink style="box-shadow:none;">
                <div class="md-toolbar-tools">
                    <md-button aria-label="smartadtags" class="md-icon-button" ng-click="toggleMenu()" style="width: 48px; min-width: 48px;">
                        <ng-md-icon icon="menu" style="fill:white;" size="36"></ng-md-icon>
                    </md-button>
                    <img class="logo" src="img/logo.png">
                    <h3>
                        <span>{{title}}</span>
                    </h3>
                    <div class="omni-search-wrap">
                        <input type="text" class="omni-search" aria-label="search here" placeholder="search here">
                        <md-button class="search-button">
                            <ng-md-icon icon="search" style="fill:white" size="20"></ng-md-icon>
                        </md-button>
                    </div>
                    <div class="omnisearch-mobile">
                        <md-button class="search-button md-icon-button" ng-click="showSearchToolbar = !showSearchToolbar;" aria-label="search here">
                            <ng-md-icon icon="search" style="fill:white" size="20"></ng-md-icon>
                        </md-button>
                        <md-toolbar class="md-primary" ng-show="showSearchToolbar">
                            <div class="md-toolbar-tools">
                                <md-button class="close-button md-icon-button" ng-click="showSearchToolbar = !showSearchToolbar;">
                                    <ng-md-icon icon="close" style="fill:white" size="20"></ng-md-icon>
                                </md-button>
                                <input type="text" class="omni-search" aria-label="search here" placeholder="search here">
                            </div>
                        </md-toolbar>
                    </div>
                </div>
            </md-toolbar>
            <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
                <md-toolbar class="md-theme-indigo" style="box-shadow:none !important;">
                    <div class="md-toolbar-tools" style="min-height: 64px; background: url('img/menu-bkg.png') no-repeat; background-size: 100% auto;">
                        <md-item-content class="flexbox">
                            <div class="md-tile-left">
                                <ng-md-icon icon="{{icon}}" style="fill: white" size="48"></ng-md-icon>
                            </div>
                            <div class="md-tile-content">
                                <h4>{{user.userName}}</h4>
                                <p style="font-size:12px;">{{user.userEmail}}</p>
                            </div>
                            <div style="margin-left: 25px; cursor:pointer;">
                                <ng-md-icon icon="settings" style="fill:white" size="36" ng-click="userModal($event)"></ng-md-icon>
                            </div>
                        </md-item-content>
                    </div>
                    <md-content ng-controller="menuCtrl">
                        <md-list style="padding:0;">
                            <md-item ng-repeat="(key, item) in menu">
                                <md-item-content>
                                    <div class="menu-first-item">
                                        <div class="" ng-click="clk($event, key);">
                                            <div class="menu-item">
                                                <div class="menu-icon">
                                                    <ng-md-icon icon="{{item.icon}}" class="change-color"></ng-md-icon>
                                                </div>
                                                <div class="" style="display:inline-block; line-height:60px;">{{item.name}}</div>
                                            </div>
                                        </div>
                                        <md-list ng-show="item.selected" class="sub-menu" style="padding:0;">
                                            <md-item ng-repeat="(subkey, subitem) in item.submenu" ng-click="clkSubmenu($event, key, subkey);">
                                                <md-item-content >
                                                    <div class="md-tile-content my-fix-two">
                                                        <h4 class="menu-item-two" style="margin-left:50px; font-weight: 400;">{{subitem.name}}</h4>
                                                    </div>
                                                </md-item-content>
                                            </md-item>
                                        </md-list>
                                    </div>
                                </md-item-content>
                            </md-item>
                        </md-list>
                    </md-content>
                </md-toolbar>
            </md-sidenav>
            <md-content ng-view style="background-color:#ECECEC; height:100%;" class="pagina"></md-content>
        </div>
        <div ng-show="!logged">
            <div ng-include="'templates/login.html'" flex></div>
        </div>
        <div layout="column" layout-align="center center" class="loading" ng-show="load">
            <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
            <span style="margin-top:15px; color: #ffffff; text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);">Loading system</span>
        </div>
    </body>

    <script type="text/javascript">

        var version = 'potrillo';

        function loadCss(href, dinamic)
        {
            var s,r,t;
            r = false;
            s = document.createElement('link');
            s.rel = 'stylesheet';
            s.href = href+setDinamic(dinamic);
            s.onload = s.onreadystatechange = function() {
                if ( !r && (!this.readyState || this.readyState == 'complete') )
                {
                    r = true;
                }
            };
            t = document.getElementsByTagName('script')[0];
            t.parentNode.insertBefore(s, t);
        }

        function loadScript(src, dinamic, callback)
        {
            var s,r,t;
            r = false;
            s = document.createElement('script');
            s.type = 'text/javascript';
            s.src = src+setDinamic(dinamic);
            s.onload = s.onreadystatechange = function() {
                if ( !r && (!this.readyState || this.readyState == 'complete') )
                {
                    r = true;
                    if (callback) callback();
                }
            };
            t = document.getElementsByTagName('script')[0];
            t.parentNode.insertBefore(s, t);
        }

        function setDinamic(dinamic){
            //return dinamic ? '?v='+ +new Date():'';
            return dinamic ? '?v='+version:'';
        }

        function inProduction(flagProd){
            var baseUrl = window.location.origin;
            if((baseUrl == "http://network.smartadtags.com")){
                if(flagProd){
                    return true;
                }else{
                    return false;
                }
            }
            return true;
        }

        var items = {};

        items.css= [{
            "url":"styles.css",
            "dinamic":true
        },{
            "url":"https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic",
            "dinamic":false
        },{
            "url":"css/material-0.11.0.css",
            "dinamic":true
        },{
            "url":"css/grid/ui-grid.css",
            "dinamic":true
        },{
            "url":"css/chosen.css",
            "dinamic":false
        },{
            "url":"css/animate.css",
            "dinamic":true
        },{
            "url":"css/md-date-time.css",
            "dinamic":true
        },{
            "url":"bower_components/ngWig/dist/css/ng-wig.css",
            "dinamic":true
        },{
            "url":"js/angular-chart/dist/angular-chart.css",
            "dinamic":true
        }];

        items.step1= {
            "url":"js/jquery-2.1.3.min.js"
        };

        items.step2= {
            "url":"js/angular-1-3-15.min.js"
        };

        items.step3= [{
            "url":"js/socket.io-1.3.5.js",
            "production":true
        },{
            "url":"js/svg-morpheus.js",
            "production":true
        },            {
            "url":"js/angular-aria-1-3-15.min.js",
            "production":true
        },{
            "url":"js/angular-animate.min.js",
            "production":true
        },{
            "url":"js/angular-material-icons.min.js",
            "production":true
        },{
            "url":"js/angular-material.min-0.11.0.js",
            "production":true
        },{
            "url":"js/grid/ui-grid.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/chosen.jquery.js",
            "production":true
        },{
            "url":"js/angular-chosen.min.js",
            "production":true
        },{
            "url":"js/md-date-time.js",
            "production":true
        },{
            "url":"js/ngDraggable.js",
            "production":true
        },{
            "url":"js/ng-device-detector.min.js",
            "production":true
        },{
            "url":"js/chart/Chart.js",
            "production":true
        },{
            "url":"js/angular-chart/angular-chart.js",
            "production":true
        },{
            "url":"js/ng-infinite-scroll.min.js",
            "production":true
        },{
            "url":"bower_components/angular-sanitize.min.js",
            "production":true
        },{
            "url":"bower_components/ngWig/dist/ng-wig.js",
            "production":true
        },{
            "url":"js/services/facUser.js",
            "production":true,
            "dinamic":true
        },{
            "url": "js/angular-route.min.js",
            "production": true
        },{
            "url":"js/services/facMenu.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/services/idioma.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/services/webservice.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/services/localservice.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/services/createAdFactory.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/services/db.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/services/socketio.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/services/reportService.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/services/cardService.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/categories.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/report.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/publishers.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/appCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/campListCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/cpaCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/createCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/homeCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/loginCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/administrateCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/menuCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/referersCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/advertisersCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/cardNameCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/reportSettingsCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/modals/userModal.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/offers.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/channelsCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/userCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/controllers/faqCtrl.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/text.js",
            "production":true,
            "dinamic":true
        },{
            "url":"js/app.js",
            "production":true,
            "dinamic":true
        }];


        items.css.forEach(function(item){
            loadCss(item.url,item.dinamic);
        });

        loadScript(items.step1.url, items.step1.dinamic, function(){
            loadScript(items.step2.url, items.step2.dinamic, function(){
                items.step3.forEach(function(item){
                    if(inProduction(item.production)) {
                        loadScript(item.url,item.dinamic);
                    }
                });
            });
        });
    </script>

</html>