<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>Smartadtags</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <!-- <meta name="viewport" content="initial-scale=1" /> -->
    <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.css"> -->
    <!-- <link rel="stylesheet" href="css/angular-material.min.css"> -->
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="css/material-0.11.0.css">
    <!--<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.css">-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <!--<link rel="stylesheet" href="./app.css">-->

    <link rel="stylesheet" href="css/grid/ui-grid.css">
    <!--<link rel="stylesheet" href="css/ui-grid-material.css">-->
    <!--<link rel="stylesheet" href="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.css">-->
    <link rel="stylesheet" href="css/chosen.css" >
    <link rel="stylesheet" href="css/animate.css" >
    <link rel="stylesheet" href="css/animations.css" >
    <link rel="stylesheet" href="css/md-date-time.css" >
    <link rel="image_src" href="img/chosen-sprite.png">

    <script src="js/jquery-2.1.3.min.js"></script>
    <script src="js/socket.io-1.3.5.js"></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script> -->
    <script src="js/svg-morpheus.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>-->
    <script src="js/angular-1-3-15.min.js"></script>
    <!--<script src="./bower_components/angular/angular.js"></script>-->
    <script src="./bower_components/angular-route/angular-route.js"></script>
    <!--<script src="./bower_components/angular-aria/angular-aria.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script> -->
    <script src="js/angular-aria-1-3-15.min.js"></script>

    <!--<script src="./bower_components/angular-animate/angular-animate.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>-->
    <script src="js/angular-animate.min.js"></script>
    <script src="js/angular-material-icons.min.js"></script>
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>-->
    <!--<script src="js/angular-material-icons.min.js"></script>-->

    <!--<script src="http://ajax.googleapis.com/ajax/libs/angular_material/0.8.3/angular-material.min.js"></script>	-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.0/angular-material.min.js"></script>-->
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.0/angular-material.min.js"></script>-->

    <script src="js/angular-material.min-0.11.0.js"></script>
    <!--<script src="js/material10.js"></script>-->
    <!--<script src="js/angular-material.js"></script>-->
    <script src="js/app.js"></script>
    <script src="./src/avatars/avatarService.js"></script>
    <script src="js/angular-route.min.js"></script>
    <!--<script src="js/ui-grid-unstable.js"></script>-->
    <script src="js/grid/ui-grid.js"></script>
    <!--<script src="https://cdn.rawgit.com/angular-ui/bower-ui-grid/master/ui-grid.min.js"></script>-->
    <script src="js/chosen.jquery.js"></script>
    <script src="js/angular-chosen.min.js"></script>
    <script src="js/md-date-time.js"></script>
    <script src="js/ngDraggable.js"></script>
    <script src="js/ng-device-detector.min.js"></script>
    <!--<script src="js/highcharts.js"></script>
    <script src="js/highcharts-ng.js"></script>-->

    <script src="js/chart/Chart.js"></script>
    <script src="js/angular-chart/angular-chart.js"></script>
    <script src="js/ng-infinite-scroll.min.js"></script>
    <script src="bower_components/angular-sanitize.min.js"></script>
    <script type='text/javascript' src='bower_components/ngWig/dist/ng-wig.js'></script>
    <link rel="stylesheet" type="text/css" href="bower_components/ngWig/dist/css/ng-wig.css">
    <link rel="stylesheet" href="js/angular-chart/dist/angular-chart.css">

    <!-- SERVICES -->
    <script src="js/services/facUser.js"></script>
    <script src="js/services/facMenu.js"></script>
    <script src="js/services/idioma.js"></script>
    <script src="js/services/webservice.js"></script>
    <script src="js/services/localservice.js"></script>
    <script src="js/services/createAdFactory.js"></script>
    <script src="js/services/db.js"></script>
    <script src="js/services/socketio.js"></script>
    <script src="js/services/reportService.js"></script>
    <script src="js/services/cardService.js"></script>

    <!-- CONTROLLERS -->
    <script src="js/controllers/categories.js"></script>
    <script src="js/controllers/report.js"></script>
    <script src="js/controllers/publishers.js"></script>
    <script src="js/controllers/appCtrl.js"></script>
    <script src="js/controllers/campListCtrl.js"></script>
    <script src="js/controllers/cpaCtrl.js"></script>
    <script src="js/controllers/createCtrl.js"></script>
    <script src="js/controllers/homeCtrl.js"></script>
    <script src="js/controllers/loginCtrl.js"></script>
    <script src="js/controllers/administrateCtrl.js"></script>
    <script src="js/controllers/menuCtrl.js"></script>
    <script src="js/controllers/referersCtrl.js"></script>
    <script src="js/controllers/advertisersCtrl.js"></script>
    <script src="js/controllers/cardNameCtrl.js"></script>
    <script src="js/controllers/reportSettingsCtrl.js"></script>
    <script src="js/controllers/modals/userModal.js"></script>
    <script src="js/controllers/offers.js"></script>
    <script src="js/controllers/channelsCtrl.js"></script>
    <script src="js/controllers/userCtrl.js"></script>
    <script src="js/controllers/faqCtrl.js"></script>
    <script src="js/text.js"></script>
</head>


<body ng-app="app" layout="column" ng-controller="AppCtrl as app" style="overflow:hidden;">
    <!-- <div ng-show="logged"> -->
    <!-- <div ng-show="logged" style="height:100%; border-bottom: 64px solid transparent; "> -->
    <div ng-show="logged" style="height:100%; padding-bottom:64px; ">
        <md-toolbar md-scroll-shrink style="box-shadow:none;">
            <!--<div layout="row" layout-align="center start" class="notify">
            <div layout="row" layout-align="space-between center" class="notify-child md-whiteframe-z2">
            <ng-md-icon icon="error" style="fill: red;" size="48"></ng-md-icon>
            <div flex style="padding:0.5em; margin-top:-8px;">
            <span>Conection Error</span>
            <p>There is a problem on the server. You can see your current reports but not generate any.<br>To try to connect to the server press <b>reconnect</b></p>
        </div>
        <md-button class="md-raised" class="md-primary my-color" style="font-size:14px; margin-right:25px;">reconnect</md-button>

    </div>
</div>-->
<div class="md-toolbar-tools">
    <md-button aria-label="smartadtags" class="md-icon-button" ng-click="toggleMenu()" style="width: 48px; min-width: 48px;">
        <ng-md-icon icon="menu" style="fill:white;" size="36"></ng-md-icon>
    </md-button>
    <img class="logo" src="img/logo.png">
    <h3>
        <span>{{title}}</span>
    </h3>
    <div class="omni-search-wrap">
        <input type="text" class="omni-search" aria-label="search here" placeholder="search here">
        <md-button class="search-button"><ng-md-icon icon="search" style="fill:white" size="20"></ng-md-icon></md-button>
    </div>
    <div class="omnisearch-mobile">
        <md-button class="search-button md-icon-button" ng-click="showSearchToolbar = !showSearchToolbar;" aria-label="search here"><ng-md-icon icon="search" style="fill:white" size="20"></ng-md-icon></md-button>
        <md-toolbar class="md-primary" ng-show="showSearchToolbar">
            <div class="md-toolbar-tools">
                <md-button class="close-button md-icon-button" ng-click="showSearchToolbar = !showSearchToolbar;"><ng-md-icon icon="close" style="fill:white" size="20"></ng-md-icon></md-button>
                <input type="text" class="omni-search" aria-label="search here" placeholder="search here">
            </div>
        </md-toolbar>
    </div>


</div>
<!-- <div style="margin:0 auto; max-width:800px; width:100%; margin-top:-57px;">
<ng-md-icon icon="search" style="fill:white; position: absolute; top: 20px; margin-left: 20px;" size="24"></ng-md-icon>
<input type="text" class="omni-search" aria-label="mango fruit">
</div> -->
</md-toolbar>
<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
    <md-toolbar class="md-theme-indigo" style="box-shadow:none !important;">
        <div class="md-toolbar-tools" style="min-height: 64px; background: url('img/menu-bkg.png') no-repeat; background-size: 100% auto;">
            <md-item-content class="flexbox">
                <div class="md-tile-left">
                    <ng-md-icon icon="{{icon}}" style="fill: white" size="48"></ng-md-icon>
                </div>
                <div class="md-tile-content">
                    <h4>{{user.userName}}</h4>
                    <p style="font-size:12px;">{{user.userEmail}}</p>
                </div>
                <div style="margin-left: 25px; cursor:pointer;">
                    <ng-md-icon icon="settings" style="fill:white" size="36" ng-click="userModal($event)"></ng-md-icon>
                </div>
            </md-item-content>
        </div>
        <!-- <md-content class="md-padding" ng-controller="menuCtrl"> -->
        <md-content ng-controller="menuCtrl">
            <md-list style="padding:0;">
                <md-item ng-repeat="(key, item) in menu">
                    <md-item-content>
                        <!-- <div class="md-tile-content my-fix"> -->
                        <div class="menu-first-item">
                            <!-- <div class="menu-hover" ng-click="clk($event, key); changeTitle(item.name)"> -->
                            <div class="" ng-click="clk($event, key);">
                                <div class="menu-item">
                                    <div class="menu-icon">
                                        <!-- <div>	 -->
                                        <ng-md-icon icon="{{item.icon}}" class="change-color"></ng-md-icon>
                                    </div>
                                    <!-- <div class="menu-text">{{item.name}}</div>	 -->
                                    <div class="" style="display:inline-block; line-height:60px;">{{item.name}}</div>
                                </div>
                            </div>
                            <md-list ng-show="item.selected" class="sub-menu" style="padding:0;">
                                <md-item ng-repeat="(subkey, subitem) in item.submenu" ng-click="clkSubmenu($event, key, subkey);">
                                    <md-item-content >
                                        <div class="md-tile-content my-fix-two">
                                            <h4 class="menu-item-two" style="margin-left:50px; font-weight: 400;">{{subitem.name}}</h4>
                                        </div>
                                    </md-item-content>
                                </md-item>
                            </md-list>
                        </div>
                    </md-item-content>
                </md-item>
            </md-list>
        </md-content>

    </md-toolbar>
</md-sidenav>
<!-- <md-content ng-view md-scroll-y flex style="width:100%; height:100%; background-color:#ECECEC; position:fixed; border-bottom:64px solid #ECECEC; background: url('img/pixel-blue.png') no-repeat; background-size:100% 122px;" class="pagina" ng-swipe-right="toggleMenu()"></md-content> -->
<md-content ng-view style="background-color:#ECECEC; height:100%;" class="pagina"></md-content>



</div>
<div ng-show="!logged">
    <div ng-include="'templates/login.html'" flex></div>
</div>
<div layout="column" layout-align="center center" class="loading" ng-show="load">
    <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    <span style="margin-top:15px; color: #ffffff; text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);">Loading system</span>
</div>
</body>
</html>
