<!-- <md-dialog style="height:90%; width:90%;">
  <span style="color: #2196F3; font-size:1.2em; padding:1em;">SEARCH {{name}}</span>
<div layout="row" style="height:80px;" layout-padding>
    <md-input-container class="md-icon-float md-block">
      <label>search</label>

      <input type="text" ng-model="input" ng-enter="search()">
    </md-input-container>
    <md-button class="md-raised md-primary" style="height: 36px;" ng-click="search()">search</md-button>
</div>
<div layout="row" layout-margin layout-padding>
    <div flex class="">
        <form action="test">
            <select name="cars" flex multiple style="width:100%;" ng-model="left" ng-options="p.resumen for p in filteredCollection">
            </select>
        </form>
    </div>
    <div layout="column">
        <md-button style="font-size:1.5em;" ng-click="toRight();">></md-button>
        <md-button style="font-size:1.5em;" ng-click="toLeft();"><</md-button>
    </div>
    <div flex class="">
        <form action="test">
            <select name="cars" flex multiple style="width:100%;" ng-model="right" ng-options="p.resumen for p in selecteds">
            </select>
        </form>
    </div>
</div>
<div layout="row" layout-align="center center">
    <md-button class="md-raised md-primary" ng-click="update()">update</md-button>
</div>




	<div class="md-actions" layout="row">
		<md-button class="md-primary" style="float:right; margin:1em;" ng-click="close()">Ok</md-button>
	</div>
</md-dialog> -->


<md-dialog aria-label="Mango (Fruit)" ng-cloak style="height:100%; width:100%; min-width: 100%; min-height: 100%;">
    <!-- <form> -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>SEARCH {{name}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()">
                    <ng-md-icon icon="close" style="fill: white" size="20"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:100%; height: 100%; max-height: 863.25px;">
            <div class="md-dialog-content" style="height: 100%;">
                <div layout="row" style="height:80px;" layout-padding>
                    <md-input-container>
                        <label>search</label>
                        <input type="text" ng-model="input" ng-enter="search()">
                    </md-input-container>
                    <md-button md-no-ink class="md-primary" style="height: 36px;" ng-click="search()" ng-disabled="isLoading">search</md-button>
                </div>
                <div layout="row" style="height:100%;">
                    <div flex class="" style="height:100%;">
                        <form style="height:90%;">
                            <select name="cars" style="height:100%;" flex multiple class="modal-select" ng-model="left" ng-options="p.resumen for p in filteredCollection" ng-dblclick="toRight()"></select>
                        </form>
                    </div>
                    <div layout="column">
                        <md-button style="font-size:1.5em;" ng-click="toRight();">></md-button>
                        <md-button style="font-size:1.5em;" ng-click="toLeft();"><</md-button>
                    </div>
                    <div flex class="" style="height:100%;">
                        <form style="height:90%;">
                            <select name="cars" style="height:100%;" flex multiple class="modal-select" ng-model="right" ng-options="p.resumen for p in selecteds" ng-dblclick="toLeft()"></select>
                        </form>
                    </div>
                </div>
                <!-- <div layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-click="update()">add</md-button>
                </div> -->
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button class="md-raised md-primary" ng-click="update()">add</md-button>
            <md-button class="md-primary" style="float:right; margin:1em;" ng-click="close()">Cerrar</md-button>
        </div>
    <!-- </form> -->
</md-dialog>
