<md-dialog>
    <md-toolbar>
        
    </md-toolbar>
    <md-dialog-content>
        <input placeholder="catDescriptionEnglish" ng-model="catDescriptionEnglish">
        <input placeholder="catDescriptionSpanish" ng-model="catDescriptionSpanish">
        <input placeholder="catStatus" type="number" ng-model="catStatus">
        <input placeholder="catUserVisible" type="number" ng-model="catUserVisible">
        <input placeholder="catIcon" ng-model="catIcon">
        <button ng-click="addCategory()"></button>
    </md-dialog-content>
</md-dialog>
