<md-dialog aria-label="Mango (Fruit)" ng-cloak style="height:90%; width:100%; max-width:500px;">
    <!-- <form> -->
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Test Name 1</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="close()" aria-label="close">
                    <ng-md-icon icon="edit" style="fill: white" size="20"></ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width:100%; max-height:652px; height: 100%; padding:0;">
            <div class="md-dialog-content" style="height: 100%;" layout="column">
                <div layout-padding>
                    <span class="md-body-2">Name Offer</span>
                    <md-input-container>
                        <!-- <label>Name</label> -->
                        <input ng-model="modal.offer">
                    </md-input-container>
                </div>
                <!-- <md-divider></md-divider> -->
                <div layout="column" layout-padding>
                    <span class="md-body-2">Preview</span>
                    <div layout="row">
                        <img src="img/ad-48x48.png" alt="test" style="max-width:48px; width:48px; height:48px; margin:1em; margin-left:0;">
                        <div layout="column" flex>
                            <span hide class="md-body-2" style="text-align:center;">Are you sure?</span>
                            <div layout="row" layout-align="end center">
                                <md-button md-no-ink class="md-warn">remove</md-button>
                                <md-button md-no-ink class="md-primary" disabled>add</md-button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <md-divider></md-divider> -->
                <div layout-padding>
                    <span class="md-body-2">Advertiser</span>
                    <md-input-container>
                        <label> </label>
                        <md-select ng-model="selAdv" aria-label="select">
                            <md-option ng-repeat="o in adv" ng-value="o.id">
                            {{o.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!-- <md-divider></md-divider> -->
                <div layout-padding>
                    <span class="md-body-2">Country</span>
                    <md-input-container>
                        <label> </label>
                        <md-select ng-model="selCountry" aria-label="select">
                            <md-option ng-repeat="country in country" ng-value="country.id">
                            {{country.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!-- <md-divider></md-divider> -->
                <div layout-padding>
                    <span class="md-body-2">Size</span>
                    <md-input-container>
                        <label> </label>
                        <md-select ng-model="selSizee" aria-label="select">
                            <md-option ng-repeat="o in sizee" ng-value="o.id">
                            {{o.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!-- <md-divider></md-divider> -->
                <div layout-padding>
                    <span class="md-body-2">Device</span>
                    <md-input-container>
                        <label> </label>
                        <md-select ng-model="selDev" aria-label="select">
                            <md-option ng-repeat="o in dev" ng-value="o.id">
                            {{o.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!-- <md-divider></md-divider> -->
                <div layout-padding>
                    <span class="md-body-2">OS</span>
                    <md-input-container>
                        <label> </label>
                        <md-select ng-model="selOs" aria-label="select">
                            <md-option ng-repeat="o in os" ng-value="o.id">
                            {{o.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!-- <md-divider></md-divider> -->
                <div layout-padding>
                    <span class="md-body-2">Browser</span>
                    <md-input-container>
                        <label> </label>
                        <md-select ng-model="selBrowser" aria-label="select">
                            <md-option ng-repeat="browser in browsers" ng-value="browser.id">
                            {{browser.name}}
                            </md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <!-- <md-divider></md-divider> -->
                <div layout-padding>
                    <span class="md-body-2">Payout</span>
                    <md-input-container>
                        <!-- <label>value</label> -->
                        <input ng-model="modal.payout">
                    </md-input-container>
                </div>

                <!-- <md-divider></md-divider> -->
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button class="md-primary" aria-label="tracking" style="margin:1em;">Tracking ID</md-button>
            <md-button class="md-primary" aria-label="clonar" style="margin:1em;">Clonar</md-button>
            <span flex></span>
            <md-button class="md-primary" ng-click="closeModal()" aria-label="close" style="margin:1em;">Cerrar</md-button>
        </div>
    <!-- </form> -->
</md-dialog>
