<!-- <div  style="width:100%; height:100%; overflow:auto;" layout="row" layot-align="center center"> -->
<div  class="the-wrapper" layout="row" layot-align="center center">

    <!-- <section class="the-wrapper" id="card1"> -->
    <section id="card1">
        <h3>Advertiser Main Page</h3>
        <md-card flex>
            <table border="1" class="md-simple-table" style="box-shadow:none;">
                <tr>
                    <td>Name</td>
                    <td>ID</td>
                    <td>Imprs</td>
                    <td>Revenue</td>
                    <td>#IO</td>
                    <td>Active Offers</td>
                    <td>Active LI</td>
                </tr>
                <tr>
                    <!-- <td ng-click="openModal($event)">Jet Multimedia</td> -->
                    <td class="card1-b">Jet Multimedia</td>
                    <td>612</td>
                    <td>500.000.000</td>
                    <td>$ 12.000</td>
                    <td>4</td>
                    <td>54</td>
                    <td>100</td>
                </tr>
                <tr>
                    <td class="card1-b">Advertiser X</td>
                    <td>614</td>
                    <td>200.000.000</td>
                    <td>$ 2.000</td>
                    <td>4</td>
                    <td>24</td>
                    <td>150</td>
                </tr>
            </table>
        </md-card>
    </section>

    <section class="the-wrapper" id="card2">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button back-adv">
                    <ng-md-icon icon="arrow_back" style="fill:white" size="22"></ng-md-icon>
                </md-button>
                <span>Jet Multimedia > IO 4 > Offert example</span>
                <span flex></span>
                <!-- <md-button class="md-icon-button" ng-click="close()">
                    <ng-md-icon icon="close" style="fill:white" size="22"></ng-md-icon>
                </md-button> -->
            </div>
        </md-toolbar>
        <md-tabs md-dynamic-height="true" class="md-primary no-border">
            <md-tab label="Contact">
                <md-fab-speed-dial ng-hide="demo.hidden" md-direction="down" class="md-fling adv-modal-controls" md-open="demo.isOpen" ng-mouseenter="demo.isOpen=true" ng-mouseleave="demo.isOpen=false">
                    <md-fab-trigger>
                        <md-button aria-label="menu" class="md-fab md-accent md-mini">
                            <md-tooltip md-direction="left">Edit</md-tooltip>
                            <ng-md-icon icon="edit" style="fill:black" size="20"></ng-md-icon>
                        </md-button>
                    </md-fab-trigger>
                    <md-fab-actions>
                        <div>
                            <md-button aria-label="clear filters" class="md-fab md-raised md-mini md-warn" ng-disabled="true">
                                <ng-md-icon icon="clear" style="fill:white" size="20"></ng-md-icon>
                                <md-tooltip md-direction="left">Cancel</md-tooltip>
                            </md-button>
                        </div>
                    </md-fab-actions>
                </md-fab-speed-dial>
                <div layout="column" style="max-width: 600px; margin: 0 auto; margin-top: 1em;">
                    <md-card flex style="height: 300px;">
                        <md-content layout-padding class="autoScroll adv-contact-card" layout="column">
                            <p class="md-body-2">Bussines Contact</p>
                            <div layout="row">
                                <ng-md-icon icon="person" style="fill:rgba(0, 0, 0, 0.54); margin: auto 0;" size="20"></ng-md-icon>
                                <div style="margin-left:1em;" flex>
                                    <md-input-container>
                                        <label>Name</label>
                                        <input ng-model="user.name" type="text">
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row">
                                <ng-md-icon icon="email" style="fill:rgba(0, 0, 0, 0.54); margin: auto 0;" size="20"></ng-md-icon>
                                <div style="margin-left:1em;" flex>
                                    <md-input-container>
                                        <label>Mail</label>
                                        <input ng-model="user.name" type="mail">
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row">
                                <ng-md-icon icon="phone" style="fill:rgba(0, 0, 0, 0.54); margin: auto 0;" size="20"></ng-md-icon>
                                <div style="margin-left:1em;" flex>
                                    <md-input-container>
                                        <label>Phone</label>
                                        <input ng-model="user.name" type="phone">
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row">
                                <ng-md-icon icon="skype" style="fill:rgba(0, 0, 0, 0.54); margin: auto 0;" size="20"></ng-md-icon>
                                <div style="margin-left:1em;" flex>
                                    <md-input-container>
                                        <label>Skype</label>
                                        <input ng-model="user.name" type="text">
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                    </md-card>

                    <md-card flex style="height: 300px;">
                        <md-content layout-padding class="autoScroll adv-contact-card" layout="column">
                            <p class="md-body-2">Billing Contact</p>
                            <div layout="row">
                                <ng-md-icon icon="person" style="fill:rgba(0, 0, 0, 0.54); margin: auto 0;" size="20"></ng-md-icon>
                                <div style="margin-left:1em;" flex>
                                    <md-input-container>
                                        <label>Name</label>
                                        <input ng-model="user.name" type="text">
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row">
                                <ng-md-icon icon="email" style="fill:rgba(0, 0, 0, 0.54); margin: auto 0;" size="20"></ng-md-icon>
                                <div style="margin-left:1em;" flex>
                                    <md-input-container>
                                        <label>Mail</label>
                                        <input ng-model="user.name" type="mail">
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row">
                                <ng-md-icon icon="phone" style="fill:rgba(0, 0, 0, 0.54); margin: auto 0;" size="20"></ng-md-icon>
                                <div style="margin-left:1em;" flex>
                                    <md-input-container>
                                        <label>Phone</label>
                                        <input ng-model="user.name" type="phone">
                                    </md-input-container>
                                </div>
                            </div>

                            <div layout="row">
                                <ng-md-icon icon="skype" style="fill:rgba(0, 0, 0, 0.54); margin: auto 0;" size="20"></ng-md-icon>
                                <div style="margin-left:1em;" flex>
                                    <md-input-container>
                                        <label>Skype</label>
                                        <input ng-model="user.name" type="text">
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                    </md-card>
                </div>
            </md-tab>
            <md-tab label="Pixel">
                <div layout="column" style="padding:0 1em; max-width:600px; margin:0 auto;">
                    <div layout="row" layout-align="start center" style="margin-top:1em;">
                        <span flex></span>
                        <md-button ng-click="pixelWindow()">Get Code</md-button>
                        <md-button class="md-primary md-raised">Create pixel</md-button>
                    </div>
                    <md-card flex>
                        <table border="1" class="md-simple-table no-hover" style="box-shadow:none;">
                            <tr>
                                <td>Date</td>
                                <td>Pixel Name</td>
                                <td>Type</td>
                                <td>ID</td>
                            </tr>
                            <tr ng-click="changeClass1()" ng-class="class1">
                                <td>
                                    <span>09/02/2015</span>
                                </td>
                                <td>
                                    <span>Test 1</span>
                                </td>
                                <td>
                                    <span>Image</span>
                                </td>
                                <td>
                                    <span>123465</span>
                                </td>
                            </tr>
                            <tr ng-click="changeClass2()" ng-class="class2">
                                <td>
                                    <span>09/02/2015</span>
                                </td>
                                <td>
                                    <span>Test 2</span>
                                </td>
                                <td>
                                    <span>Image</span>
                                </td>
                                <td>
                                    <span>123465</span>
                                </td>
                            </tr>
                            <tr ng-click="changeClass3()" ng-class="class3">
                                <td>
                                    <span>09/02/2015</span>
                                </td>
                                <td>
                                    <span>Test 3</span>
                                </td>
                                <td>
                                    <span>Image</span>
                                </td>
                                <td>
                                    <span>123465</span>
                                </td>
                            </tr>
                        </table>
                    </md-card>
                    <h3>IP White List</h3>
                    <md-card flex md-theme="fTheme-1">
                        <table border="1" class="md-simple-table pixel-data" style="box-shadow:none; background-color:transparent;">
                            <tr>
                                <td>IP</td>
                                <td>Allowed</td>
                                <td>Added Date</td>
                                <td>Added By</td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" value="" placeholder="ADD NEW" class="adv-input">
                                    <md-button class="md-icon-button adv-save-ip" aria-label="Favorite">
                                        <ng-md-icon icon="save" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </td>
                                <td>
                                    <span></span>
                                </td>
                                <td>
                                    <span></span>
                                </td>
                                <td>
                                    <span></span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>1.1.1.14</span>
                                </td>
                                <td>
                                    <span>True</span>
                                </td>
                                <td>
                                    <span>09/02/2015</span>
                                </td>
                                <td>
                                    <span>The User</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span>1.1.1.14</span>
                                </td>
                                <td>
                                    <span>True</span>
                                </td>
                                <td>
                                    <span>09/02/2015</span>
                                </td>
                                <td>
                                    <span>The User</span>
                                </td>
                            </tr>
                        </table>
                    </md-card>
                </div>
            </md-tab>
            <md-tab label="targetings">
                <div layout="column">
                    <!-- <div layout="row" divheight="alto"> -->
                    <div layout="row" class="target-height">
                        <!-- <md-card style="width:200px; overflow: auto;" ng-style="{'height': alto+'px'}"> -->
                        <md-card class="over-scroll">
                            <md-list class="list-aux">
                                <md-list-item>
                                    <p>Countries</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_open" style="fill:#4CAF50" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Placement Categories (-8)</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Placement Atributes</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Browsers</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>OS</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Device types</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Carriers</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Connection Types</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Languages</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Supply Packages</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Appereance</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Hours</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Days</p>
                                    <md-button class="md-icon-button" aria-label="More">
                                        <ng-md-icon icon="lock_outline" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    </md-button>
                                </md-list-item>
                                <md-divider></md-divider>
                            </md-list>
                        </md-card>
                        <md-card flex>
                            <div layout="row" layout-align="start center">
                                <md-switch aria-label="Switch 1" ng-true-value="true" ng-false-value="false"></md-switch>
                                <ng-md-icon icon="search" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                <input type="text" placeholder="Search" class="adv-input-search">
                                <md-button class="md-warn">exclude</md-button>
                            </div>
                            <md-divider></md-divider>
                            <md-list class="over-scroll">
                                <!-- <md-subheader class="md-no-sticky subheader-aux">
                                    <md-switch aria-label="Switch 1" ng-true-value="true" ng-false-value="false"></md-switch>
                                    <ng-md-icon icon="search" style="fill:rgba(0, 0, 0, 0.54)" size="16"></ng-md-icon>
                                    <input type="text" placeholder="Search" class="adv-input-search">
                                    <md-button class="md-warn">exclude</md-button>
                                </md-subheader> -->
                                <md-list-item>
                                    <p>France</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Germany</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Italy</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Spain</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Argentina</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Brasil</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Africa</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Africa</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Africa</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Africa</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Africa</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Africa</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>Africa</p>
                                    <md-checkbox class="md-primary"></md-checkbox>
                                </md-list-item>
                                <md-divider></md-divider>
                            </md-list>
                        </md-card>
                    </div>
                </div>
            </md-tab>

            <md-tab label="IO">
                <div layout="column" style="padding:0 1em;">
                    <div layout="row" layout-align="start center" style="margin-top:1em;">
                        <span class="md-title" flex></span>
                        <md-button class="md-raised md-primary">Create IO</md-button>
                    </div>
                    <md-card hide>
                        <table border="1" class="md-simple-table" style="box-shadow:none;">
                            <tr>
                                <td>IO</td>
                                <td>ID</td>
                                <td># Offers</td>
                                <td># Line Items</td>
                                <td>Imp. 30 Days</td>
                                <td>Revenue 30 Days</td>

                            </tr>
                            <tr ng-repeat="item in [1, 2, 3, 4, ]">
                                <td>
                                    <md-button md-no-ink class="md-primary io-button">IO Lorem Ipsum</md-button>
                                </td>

                                <td>
                                    <span>1234657</span>
                                </td>
                                <td>
                                    <span>15</span>
                                </td>
                                <td>
                                    <span>25</span>
                                </td>
                                <td>
                                    <span>50000</span>
                                </td>
                                <td>
                                    <span>2500</span>
                                </td>
                            </tr>
                        </table>
                    </md-card>

                    <md-card class="adv-history" layout-align="center start" md-theme="notif-color">
                        <div layout="column" layout-fill>
                            <div layout="row" layout-align="start center" class="inset io-header" style="background-color: #fff; height:40px;">
                                <span class="md-caption">IO</span>
                                <span class="md-caption">ID</span>
                                <span class="md-caption">#Offers</span>
                                <span class="md-caption">#Line Items</span>
                                <span class="md-caption">Impr. 30 days</span>
                                <span class="md-caption">Revenue 30 dias</span>
                                <md-button hide class="md-icon-button" aria-label="Settings">
                                    <ng-md-icon icon="expand_more" style="fill: grey;" size="20"></ng-md-icon>
                                </md-button>
                            </div>
                            <md-divider></md-divider>
                            <div layout="row" layout-align="start center" class="inset io-row" style="background-color: #fff; height:40px;" ng-click="showLogDetails = !showLogDetails;">
                                <span class="md-caption">My io Lorem</span>
                                <span class="md-caption">123456</span>
                                <span class="md-caption">15</span>
                                <span class="md-caption">25</span>
                                <span class="md-caption">50000</span>
                                <span class="md-caption">2500</span>

                                <md-button hide class="md-icon-button" aria-label="Settings">
                                    <ng-md-icon icon="expand_more" style="fill: grey;" size="20"></ng-md-icon>
                                </md-button>
                            </div>
                            <md-divider></md-divider>
                            <div ng-show="showLogDetails" layout="column" layout-padding style="color:#fff; overflow: hidden;" class="animation-expand">
                                <div layout="row" layout-fill>
                                    <div flex layout="column" layout-padding>
                                        <h3 class="md-body-2" style="color:rgba(0, 0, 0, 0.84);">Seller</h3>
                                        <md-input-container flex>
                                            <label>Company</label>
                                            <input ng-model="falseCompany">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Address</label>
                                            <input ng-model="falseAddress">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Country</label>
                                            <input ng-model="falseCountry">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Authorized</label>
                                            <input ng-model="falseAuto">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Phone</label>
                                            <input ng-model="falsePhone">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Skype</label>
                                            <input ng-model="falseSkype">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Email</label>
                                            <input ng-model="falseemail">
                                        </md-input-container>
                                    </div>
                                    <div flex layout="column" layout-padding>
                                        <h3 class="md-body-2" style="color:rgba(0, 0, 0, 0.84);">Buyer</h3>
                                        <md-input-container flex>
                                            <label>Company</label>
                                            <input ng-model="falseCompany">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Address</label>
                                            <input ng-model="falseAddress">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Country</label>
                                            <input ng-model="falseCountry">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Authorized</label>
                                            <input ng-model="falseAuto">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Phone</label>
                                            <input ng-model="falsePhone">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Skype</label>
                                            <input ng-model="falseSkype">
                                        </md-input-container>
                                        <md-input-container flex>
                                            <label>Email</label>
                                            <input ng-model="falseemail">
                                        </md-input-container>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card>
                </div>

            </md-tab>
            <md-tab label="History">
                <div style="padding:0 1em;">
                    <md-card class="adv-history" layout-align="center start" md-theme="docs-dark">
                        <div layout="column" layout-fill ng-repeat="(k, item) in [1, 2, 3]">
                            <div layout="row" layout-align="start center" class="inset" style="background-color: #fff; height:45px;" ng-click="showLogDetails = !showLogDetails;">
                                <span class="md-body-2" style="margin-left: 1em;">09/02/2015</span>
                                <span flex></span>
                                <md-button class="md-icon-button" aria-label="Settings">
                                    <ng-md-icon icon="expand_more" style="fill: grey;" size="20"></ng-md-icon>
                                </md-button>
                            </div>
                            <md-divider></md-divider>
                            <div ng-show="showLogDetails" layout="column" layout-padding style="color:#fff; overflow: hidden;" class="animation-expand">
                                <div layout="row" layout-fill>
                                    <ng-md-icon flex icon="arrow_back" style="fill: white; margin-top:-5px; text-align: right;" size="16"></ng-md-icon>
                                    <div class="md-caption" style="margin: 0 1em;">Before</div>
                                    <div class="md-caption" style="margin: 0 1em;">After</div>
                                    <ng-md-icon flex icon="arrow_forward" style="fill: white; margin-top:-5px;" size="16"></ng-md-icon>
                                </div>
                                <div layout="row" class="md-body-2" layout-padding>Billing Information</div>
                                <div>
                                    <div layout="row" style="margin: 0 0.5em;">
                                        <span flex></span>
                                        <ng-md-icon icon="access_time" style="fill:white; margin:auto; margin-right: 0.5em;" size="20"></ng-md-icon>
                                        <span class="md-body-2" style="margin:auto;">11:11:11</span>
                                    </div>
                                    <div layout="row">
                                        <md-content flex layout-margin layout-padding>
                                            <md-input-container flex>
                                                <label>Address</label>
                                                <input ng-model="falseAddress">
                                            </md-input-container>
                                        </md-content>
                                        <md-content md-theme="docs-dark" flex layout-margin layout-padding>
                                            <md-input-container flex>
                                                <label>Address</label>
                                                <input ng-model="falseAddress">
                                            </md-input-container>
                                        </md-content>
                                    </div>
                                </div>
                                <div>
                                    <div layout="row" class="md-body-2" layout-padding>Payment Methods</div>
                                    <div layout="row" style="margin: 0 0.5em;">
                                        <span flex></span>
                                        <ng-md-icon icon="access_time" style="fill:white; margin:auto; margin-right: 0.5em;" size="20"></ng-md-icon>
                                        <span class="md-body-2" style="margin:auto;">11:12:50</span>
                                    </div>
                                    <div layout="row">
                                        <md-content md-theme="docs-dark" flex layout-margin layout-padding>
                                            <md-input-container flex>
                                                <label>Address</label>
                                                <input ng-model="falseAddress">
                                            </md-input-container>
                                        </md-content>
                                        <md-content md-theme="docs-dark" flex layout-margin layout-padding>
                                            <md-input-container flex>
                                                <label>Address</label>
                                                <input ng-model="falseAddress">
                                            </md-input-container>
                                        </md-content>
                                    </div>
                                </div>
                                <div layout="row" style="margin: 0.5em 0.5em 0 0;">
                                    <span flex></span>
                                    <ng-md-icon icon="access_time" style="fill:white; margin:auto; margin-right: 0.5em;" size="20"></ng-md-icon>
                                    <span class="md-body-2" style="margin:auto;">11:10:20</span>
                                </div>
                                <div layout="row" layout-fill layout-padding>
                                    <div flex style="text-align: right;">Paypal</div>
                                    <ng-md-icon icon="swap_horiz" style="fill:white; margin:auto;" size="20"></ng-md-icon>
                                    <div flex>Payonner</div>
                                </div>
                            </div>
                        </div>
                    </md-card>
                </div>
            </md-tab>
        </md-tabs>
        <div class="pixel-code-wrapp md-whiteframe-z1 animation-pixel-code" ng-show="showPixelWindow" ng-class="hideCode" layout="column">
            <h1 class="md-title">Test 1 Pixel Code:</h1>
            <div layout="row" layout-align="start center">
                <textarea readonly="readonly" flex class="pixel-code-textarea md-caption">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</textarea>
                <md-button>OK</md-button>
            </div>
        </div>
    </section>
</div>
