<div class="the-wrapper" flex>
    <md-card layout="row">
        <div layout="column" flex>
            <md-toolbar class="md-primary md-hue-1">
                <div class="md-toolbar-tools">
                    <h2>
                        <span>Channel</span>
                    </h2>
                    <span flex></span>
                    <!--<span class="md-caption">Publica</span>
                     <span>
                        <md-switch ng-model="(categories[selectedCategory].catUserVisible)" ng-disabled="!editing" aria-label="Switch 1">
                        </md-switch>
                        <md-tooltip md-direction="down">
                            Hacer visible la categoria a los publishers
                        </md-tooltip>
                    </span> -->
                    <!-- <md-button class="md-fab md-mini md-accent md-hue-1 category-edit-fab" aria-label="Eat cake">
                        <ng-md-icon icon="add" style="fill:rgba(0,0,0,0.54);" size="20"></ng-md-icon>
                        <md-tooltip md-direction="down">Agregar Channel</md-tooltip>
                    </md-button> -->
                    <md-button class="md-fab md-mini md-accent md-hue-1 category-edit-fab" aria-label="Eat cake">
                        <ng-md-icon icon="delete" style="fill:rgba(0,0,0,0.54);" size="20"></ng-md-icon>
                        <md-tooltip md-direction="down">Eliminar Channel</md-tooltip>
                    </md-button>
                    <md-button class="md-fab md-mini md-accent md-hue-1 category-edit-fab" aria-label="Eat cake">
                        <ng-md-icon icon="edit" style="fill:rgba(0,0,0,0.54);" size="20"></ng-md-icon>
                        <md-tooltip md-direction="down">Editar Channel</md-tooltip>
                    </md-button>
                </div>
            </md-toolbar>
            <div layout="row">
                <div style="width:200px; min-width:200px; border-right: 1px solid rgba(0,0,0,0.12);">
                    <div>
                        <md-list-item layout="row" layout-align="center center">
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <input type="text" name="name" value="" placeholder="Agregar Channel" ng-enter="createCategory(category.name)" class="add-category-input">
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <!-- <md-list-item layout="row" layout-align="center center" hide>
                                <div class="md-list-item-text" layout="row" layout-align="center center">
                                    <input type="text" name="name" value="" placeholder="agregar categoria" class="add-category-input">
                                </div>
                        </md-list-item> -->
                        <div ng-repeat="item in [1, 2, 3, 4, 5]">
                            <md-list-item class="md-2-line md-aux">
                                <ng-md-icon icon="favorite" style="fill:rgba(0,0,0,0.54); margin:auto;" size="20"></ng-md-icon>
                                    <div class="md-list-item-text">
                                        <h3>my channel</h3>
                                    </div>
                            </md-list-item>
                            <md-divider></md-divider>
                        </div>
                    </div>
                </div>
                <div layout="column" flex style="border-right: 1px solid rgba(0,0,0,0.12); height:100%;">
                    <md-content style="height: 100%;">
                        <section>
                            <div layout="row" layout-padding>
                                <md-button class="md-primary md-hue-1 icon-aux" aria-label="icons" layout="column" ng-click="showIcons = !showIcons;">
                                    <ng-md-icon icon="add" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="48"></ng-md-icon>
                                    add icon
                                </md-button>
                                <div layout="column" flex>
                                    <md-input-container style="width:100%; max-width:250px;">
                                        <label>Channel name</label>
                                        <input ng-model="user.firstName">
                                    </md-input-container>
                                    <md-input-container style="width:100%; max-width:500px;">
                                        <label>Description</label>
                                        <input ng-model="theMax">
                                    </md-input-container>
                                    <div layout="row" layout-align="center end">
                                        <md-checkbox class="md-primary" aria-label="Checkbox 1">Channel activo en el sistema</md-checkbox>
                                        <md-checkbox class="md-primary" aria-label="Checkbox 1">Channel visible para el publico</md-checkbox>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-wrap ng-show="showIcons" layout-align="center center" layout-margin>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="android" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="apple" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="whatsapp" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="info" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="favorite_outline" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="new_releases" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="textsms" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="insert_emoticon" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="cloud_download" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="desktop_windows" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="color_lens" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="cast" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="file_download" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="directions_bike" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="my_library_music" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="star" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="my_library_books" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="theaters" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="videocam" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="radio" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="attach_money" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="face" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="whatshot" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="public" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="get_app" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="mic" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="shop" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="thumb_up" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="play_circle_fill" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                                <md-button class="md-icon-button md-primary" aria-label="Settings">
                                    <ng-md-icon icon="web" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                                </md-button>
                            </div>
                        </section>
                    </md-content>
                </div>
            </div>
        </div>
    </md-card>
</div>
