<md-dialog style="height:200px; width:400px;">
    <h2 layout-padding layout-margin>
        <span class="md-title">Cambiar nombre de reporte</span>
    </h2>
    <form ng-submit="confirm()">
        <md-input-container layout-padding layout-margin>
          <label>Nuevo nombre de reporte</label>
          <input ng-model="scp.name">
        </md-input-container>


        <div class="md-actions" layout="row">
            <!--<md-button style="float:right; margin:1em;" ng-click="cancel()">cancel</md-button>
            <md-button class="md-primary" style="float:right; margin:1em;" ng-click="confirm()">Ok</md-button>-->
            <button class="md-button md-raised md-primary" style="float:right; margin:1em; margin-bottom:2em;" type="submit">Ok</button>
    	</div>
    </form>
</md-dialog>
