<div style="overflow: auto; height: 100%;" hide>
    <div class="the-wrapper" style="height:100%;">
        <md-card layout="column" style="width:30%; float:left;" ng-repeat="item in [1, 2, 3]">
            <md-button md-no-ink class="md-primary">Agregar grupo</md-button>
            <div>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-menu>
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <ng-md-icon icon="menu" style="fill:white" size="20"></ng-md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item layout="row" layout-align="start center">
                                    <md-button>
                                        <ng-md-icon icon="edit" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                        <p>Editar Nombre</p>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item layout="row" layout-align="start center">
                                    <md-button>
                                        <ng-md-icon icon="delete" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                        <p>Borrar grupo</p>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                          <span flex ng-click="showContent = !showContent;" class="group-name">Grupo Name (5)</span>
                        <md-button class="md-icon-button" aria-label="More" ng-click="faqModal($event)">
                            <ng-md-icon icon="add" style="fill:white" size="20"></ng-md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content ng-hide="!showContent" class="animation-expand">
                    <md-list>
                        <md-list-item>
                            <p>¿Cuándo se emiten los pagos?</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p>¿Cuáles son los diferentes métodos de pago?</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p>¿Los pagos se hacen automáticamente?</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p>¿Tengo que avisar si quiero darme de baja?</p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p>¿Cuánto se tarda en aceptarme como publisher?</p>
                        </md-list-item>
                    </md-list>
                </md-content>
            </div>
            <md-divider></md-divider>
            <div style="margin: 0;">
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-menu>
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <ng-md-icon icon="menu" style="fill:white" size="20"></ng-md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item layout="row" layout-align="start center">
                                    <md-button>
                                        <ng-md-icon icon="edit" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                        <p>Editar Nombre</p>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item layout="row" layout-align="start center">
                                    <md-button>
                                        <ng-md-icon icon="delete" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                        <p>Borrar grupo</p>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                          <span flex  ng-click="showContent1 = !showContent1;" class="group-name">Grupo Name 1 (4)</span>
                        <md-button class="md-icon-button" aria-label="More">
                            <ng-md-icon icon="add" style="fill:white" size="20"></ng-md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content ng-show="showContent1" class="animation-expand">
                    <md-list>
                        <md-list-item>
                            <p> test </p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p> test </p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p> test </p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p> test </p>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </div>
            <md-divider></md-divider>
            <div>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        <md-menu>
                            <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                <ng-md-icon icon="menu" style="fill:white" size="20"></ng-md-icon>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item layout="row" layout-align="start center">
                                    <md-button>
                                        <ng-md-icon icon="edit" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                        <p>Editar Nombre</p>
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item layout="row" layout-align="start center">
                                    <md-button>
                                        <ng-md-icon icon="delete" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                        <p>Borrar grupo</p>
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                          <span flex  ng-click="showContent2 = !showContent2;" class="group-name">Grupo Name 1 (4)</span>
                        <md-button class="md-icon-button" aria-label="More">
                            <ng-md-icon icon="add" style="fill:white" size="20"></ng-md-icon>
                        </md-button>
                    </div>
                </md-toolbar>
                <md-content ng-show="showContent2" class="animation-expand">
                    <md-list>
                        <md-list-item>
                            <p> test </p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p> test </p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p> test </p>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item>
                            <p> test </p>
                        </md-list-item>
                        <md-divider></md-divider>
                    </md-list>
                </md-content>
            </div>
        </md-card>
    </div>
</div>

<div style="height:100%; min-height:600px;">
    <div layout="column" flex layout-fill ng-cloak style="height:100%; min-height:600px;">
        <md-button class="md-whiteframe-z4 md-fab md-accent" aria-label="Use Android" style="position: absolute; bottom: 23px; right: 23px; z-index:1;">
            <ng-md-icon icon="add" style="fill:black" size="20"></ng-md-icon>
            <md-tooltip md-direction="left">Create New Group</md-tooltip>
        </md-button>
        <md-toolbar md-scroll-shrink style="min-height: 49px;">
            <md-tabs class="md-primary" md-selected="actTab" md-stretch-tabs="auto" md-center-tabs="true">
                <md-tab label="Publishers"></md-tab>
                <md-tab label="Advertisers"></md-tab>
            </md-tabs>
        </md-toolbar>
        <md-content flex style="height:100%; min-height:600px; padding-top:50px;" class="md-content-background no-effect">
            <section class="the-wrapper" ng-show="actTab==0">
                <!-- <md-card layout="column" style="width:30%; float:left;" ng-repeat="item in [1, 2, 3]"> -->
                <md-card layout="column">
                    <md-button md-no-ink class="md-primary">Agregar grupo</md-button>
                    <div>
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <md-menu>
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                        <ng-md-icon icon="menu" style="fill:white" size="20"></ng-md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item layout="row" layout-align="start center">
                                            <md-button>
                                                <ng-md-icon icon="edit" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                                <p>Editar Nombre</p>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item layout="row" layout-align="start center">
                                            <md-button>
                                                <ng-md-icon icon="delete" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                                <p>Borrar grupo</p>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                  <span flex ng-click="showContent = !showContent;" class="group-name">General (5)</span>
                                <md-button class="md-icon-button" aria-label="More" ng-click="faqModal($event)">
                                    <ng-md-icon icon="add" style="fill:white" size="20"></ng-md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-content ng-hide="!showContent" class="animation-expand">
                            <md-list>
                                <md-list-item>
                                    <p>¿Cuándo se emiten los pagos?</p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>¿Cuáles son los diferentes métodos de pago?</p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>¿Los pagos se hacen automáticamente?</p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>¿Tengo que avisar si quiero darme de baja?</p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p>¿Cuánto se tarda en aceptarme como publisher?</p>
                                </md-list-item>
                            </md-list>
                        </md-content>
                    </div>
                    <md-divider></md-divider>
                    <div style="margin: 0;">
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <md-menu>
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                        <ng-md-icon icon="menu" style="fill:white" size="20"></ng-md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item layout="row" layout-align="start center">
                                            <md-button>
                                                <ng-md-icon icon="edit" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                                <p>Editar Nombre</p>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item layout="row" layout-align="start center">
                                            <md-button>
                                                <ng-md-icon icon="delete" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                                <p>Borrar grupo</p>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                  <span flex  ng-click="showContent1 = !showContent1;" class="group-name">Account Founding (4)</span>
                                <md-button class="md-icon-button" aria-label="More">
                                    <ng-md-icon icon="add" style="fill:white" size="20"></ng-md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-content ng-show="showContent1" class="animation-expand">
                            <md-list>
                                <md-list-item>
                                    <p> test </p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p> test </p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p> test </p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p> test </p>
                                </md-list-item>
                                <md-divider></md-divider>
                            </md-list>
                        </md-content>
                    </div>
                    <md-divider></md-divider>
                    <div>
                        <md-toolbar>
                            <div class="md-toolbar-tools">
                                <md-menu>
                                    <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                                        <ng-md-icon icon="menu" style="fill:white" size="20"></ng-md-icon>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item layout="row" layout-align="start center">
                                            <md-button>
                                                <ng-md-icon icon="edit" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                                <p>Editar Nombre</p>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item layout="row" layout-align="start center">
                                            <md-button>
                                                <ng-md-icon icon="delete" style="fill:rgba(0, 0, 0, 0.54); margin-right:1em;" size="20"></ng-md-icon>
                                                <p>Borrar grupo</p>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                                  <span flex  ng-click="showContent2 = !showContent2;" class="group-name">Bidding (4)</span>
                                <md-button class="md-icon-button" aria-label="More">
                                    <ng-md-icon icon="add" style="fill:white" size="20"></ng-md-icon>
                                </md-button>
                            </div>
                        </md-toolbar>
                        <md-content ng-show="showContent2" class="animation-expand">
                            <md-list>
                                <md-list-item>
                                    <p> test </p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p> test </p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p> test </p>
                                </md-list-item>
                                <md-divider></md-divider>
                                <md-list-item>
                                    <p> test </p>
                                </md-list-item>
                                <md-divider></md-divider>
                            </md-list>
                        </md-content>
                    </div>
                </md-card>

            </section>
        </md-content>
    </div>
</div>
