<!-- <div style="overflow-y: auto; width:100%; height:100%;"> -->
    <div style="width:100%; max-width: 1350px; margin: 0 auto; height: 100%;">
        <div layout="row" layout-wrap>
            <div hide flex class="w-33 md-whiteframe-z1" ng-repeat="item in [1, 2, 3]" style="background-color:#2196F3; color:#fff; min-height: 160px;">
                <h4 style="margin-left:0.8em; margin-top:0.6em;">Card Title</h4>
                <div flex layout="column">
                    <div layout="row">
                        <span flex class="md-body-1 margin-ref">123456789123456789123456</span>
                        <span class="md-caption number-ref">$ USD</span>
                    </div>
                    <div layout="row">
                        <span flex class="md-body-1 margin-ref">123456789123456789123456</span>
                        <span class="md-caption number-ref">$ USD POR DIA</span>
                    </div>
                    <div layout="row">
                        <span flex class="md-body-1 margin-ref" style="margin-right:1em;">123456789123456789123456</span>
                        <span class="md-caption number-ref">TOTAL DE USUARIOS</span>
                    </div>
                    <div layout="row">
                        <span flex class="md-body-1 margin-ref">123456789123456789123456</span>
                        <span class="md-caption number-ref">USUARIOS ACTIVOS</span>
                    </div>
                    <div layout="row">
                        <span flex class="md-body-1 margin-ref">123456789123456789123456</span>
                        <span class="md-caption number-ref">IMPRESIONES</span>
                    </div>
                </div>
            </div>
            <!-- ACA VA EL GRAFICO -->
            <!-- <div class="md-whiteframe-z1" style="background-color:#fff; width:100%; padding:0.5em; margin:0.5em;">
                <canvas id="chart-demo" class="chart chart-line" chart-data="data" chart-labels="labels" chart-legend="true" chart-series="series" colours="colours" chart-click="onClick" chart-options="options"></canvas>
            </div> -->

            <div class="widget-table md-whiteframe-z1" style="background-color:#fff; width:100%; margin:0.5em;" ng-show="!dataTables.widgets">
                <md-progress-linear md-mode="indeterminate"></md-progress-linear>
                <h4 style="margin: 1em;">Loading...</h4>
            </div>

            <div class="widget-table md-whiteframe-z1" style="background-color:#fff; width:100%; margin:0.5em;" ng-repeat="(k, table) in dataTables.widgets track by $index" ng-style="{'-webkit-animation-delay': (k+1)/40+'s', 'animation-delay': (k+1)/40+'s'}">
                <h4 style="margin: 1em;">{{table.title}}</h4>
                <table border="1" class="md-simple-table" style="box-shadow:none;">
                    <tr>
                        <td ng-repeat="column in table.columns track by $index">{{column.alias}}</td>
                    </tr>
                    <tr ng-repeat="row in table.data | limitTo:table.limit track by $index">
                        <td ng-repeat="(key, field) in row track by $index">
                            <span ng-show="table.columns[key].type == 'number'">{{field | number}}</span>
                            <span ng-show="table.columns[key].type == 'date'">{{field | date:'dd/MM/yyyy'}}</span>
                            <span ng-show="table.columns[key].type == 'text'">{{field}}</span>
                        </td>
                    </tr>
                </table>
                <md-button ng-click="plus30(table)" ng-show="visible(table)" style="width: 90%; margin: 10px 5%;">mostrar mas</md-button>
            </div>


            <!-- <div hide class="widget-pending-web md-whiteframe-z1" style="background-color:#FFF59D; width:48.5%; margin:0.5em;">
                <h4 style="margin: 1em 0 0 1em;">Websites Pendientes</h4>
                <table border="1" class="md-simple-table" style="box-shadow:none; background-color: transparent;">
                    <tr>
                        <td>Publisher</td>
                        <td>Site URL</td>
                        <td>Ranking Alexa</td>
                    </tr>
                    <tr ng-repeat="item in [1, 2, 3]">
                        <td>
                            <span>greatpublisheremail@longmail.com</span>
                        </td>
                        <td>
                            <span>www.bigurlonlyfortestpurpose.com</span>
                        </td>
                        <td>
                            <span>1324</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div hide class="widget-pending-web md-whiteframe-z1" style="background-color:#FFF59D; width:48.5%; margin:0.5em;">
                <h4 style="margin: 1em 0 0 1em;">Usuarios Pendientes</h4>
                <table border="1" class="md-simple-table" style="box-shadow:none; background-color: transparent;">
                    <tr>
                        <td>Publisher</td>
                        <td>Site URL</td>
                    </tr>
                    <tr ng-repeat="item in [1, 2, 3]">
                        <td>
                            <span>greatpublisheremail@longmailprovider.com</span>
                        </td>
                        <td>
                            <span>www.bigurlonlyfortestpurpose.com</span>
                        </td>
                    </tr>
                </table>
            </div> -->
        </div>
    </div>
<!-- </div> -->
