<div layout="column" layout-align="center center" style="width:100%; height:100%; position:absolute; overflow:hidden;" ng-controller="loginCtrl">
	<md-toolbar class="md-theme-light" style="position:absolute; height:30%; width:100%; top: 0;  max-height: 30%; z-index: 0; left:0;"></md-toolbar>
	<div class="md-whiteframe-z1 login" layout="column" layout-align="start center" layout-padding ng-show="!register">



		<div layout="column" style="height:100%;">
			<div layout="row" layout-align="center center" style="height:20%;">
				<img src="img/sta-logo-color.png" class="logo-company">
			</div>
			<div layout="row" layout-align="center center" style="height:20%;">
				<img src="img/avatars/a-green-guy.png" class="avatar-login">
			</div>
			<div layout="column" layout-align="center center" class="login-form-wrapp">
				<form>
					<div layout="column">
						<md-input-container class="login-cont">
						      <label>{{textos.login.user}}</label>
						      <input ng-model="user" type="email">
						</md-input-container>
						<md-input-container class="login-cont">
						      <label>{{textos.login.pass}}</label>
						      <input type="password" required ng-model="pass">
						</md-input-container>
						<!-- <md-checkbox aria-label="Checkbox 1" style="color:#B2B2B2; margin-left:0; margin-top:1em;" ng-model="remember">{{textos.login.rememberMe}}</md-checkbox>
						<md-button aria-label="smartadtags" class="md-raised md-primary" style="float:right; margin:1em;" ng-click="login()">Login</md-button>
						<md-button style="color:#B2B2B2; text-transform:capitalize;" ng-click="showGridBottomSheet()">{{textos.login.forgotPass}}</md-button> -->
					</div>
					<div layout="column" class="login-cont">
						<div><md-checkbox aria-label="Checkbox 1" style="color:#B2B2B2; margin-left:0; margin-top:1em;" ng-model="remember">{{textos.login.rememberMe}}</md-checkbox></div>
						<md-button flex aria-label="smartadtags" class="md-raised md-primary" ng-click="login()">Login</md-button>
					</div>
				</form>
				<!-- <div class="forgot-cont"> -->
					<md-button style="color:#B2B2B2; text-transform:capitalize;" ng-click="showGridBottomSheet()" hide>{{textos.login.forgotPass}}</md-button>
				<!-- </div> -->
			</div>
			<div layout="row" layout-align="center center" style="height:10%;">
				<!--<md-button style="color:#00ADEF; padding:0.7em;" class="md-raised">REGISTER</md-button>-->
			</div>
		</div>

		<!-- <div style="height:25%;"> -->
			<!-- <img src="img/sta-logo-color.png" class="logo-company"> -->
		<!-- </div> -->
		<div hide layout="column" layout-align="start center" style="height:100%;">

				<img src="img/avatars/a-green-guy.png" class="avatar-login">


			<form layout="column">

					<md-input-container class="login-cont">
						  <label>{{textos.login.user}}</label>
						  <input ng-model="user" type="email">
					</md-input-container>
					<md-input-container class="login-cont">
						  <label>{{textos.login.pass}}</label>
						  <input type="password" required ng-model="pass">
					</md-input-container>
					<md-checkbox aria-label="Checkbox 1" style="color:#B2B2B2; margin-left:0; margin-top:1em;" ng-model="remember">{{textos.login.rememberMe}}</md-checkbox>
					<md-button aria-label="smartadtags" class="md-raised md-primary" style="float:right; margin:1em;" ng-click="login()">Login</md-button>
					<md-button style="color:#B2B2B2; text-transform:capitalize;" ng-click="showGridBottomSheet()">{{textos.login.forgotPass}}</md-button>

			</form>

		</div>
	</div>
</div>
