<md-dialog style="height:370px; width:400px;">
  <span style="color: #2196F3; font-size:1.2em; padding:1em;">New line item</span>

  <div layout="column" layout-margin layout-padding>
    <span style="color: #424242; font-size:1em; padding:1em; padding-left:0;">Choose a line item and percentage</span>  
    <select data-placeholder="Select line item" multiple chosen style="width:200px; padding:1em; margin-bottom:1em;"></select>
      <div style="margin-top:30px;">
        <md-input-container >
          <label>Percentage</label>
          <input type="number" style="width:120px;">
        </md-input-container>
      </div>
      
    
  </div>
  

    
    
	<div class="md-actions" layout="row">	
		<md-button class="md-primary" style="float:right; margin:1em;" ng-click="close()">Ok</md-button>
	</div>
</md-dialog>