<!-- <div style="height: 100%; min-height:600px;"> -->
    <div class="ripple-from-top"></div>
    <div layout="column" flex layout-fill ng-cloak style="height:100%; min-height:600px;">
        <md-toolbar md-scroll-shrink style="min-height: 49px;">
            <md-tabs class="md-primary" md-selected="actTab" md-stretch-tabs="auto" md-center-tabs="true">
                <md-tab label="websites"></md-tab>
                <md-tab label="referers"></md-tab>
                <md-tab label="timeline"></md-tab>
            </md-tabs>
        </md-toolbar>
        <div flex class="md-content-background no-effect" style="height:100%; min-height:600px; padding-top:50px;" >
            <section class="height-100">
                <div ng-show="actTab==0" class="height-100" ng-include="'templates/publishers/websites.html'">
                </div>
                <div ng-show="actTab==1" class="height-100" ng-include="'templates/publishers/referers.html'">
                </div>
                <div layout="column" style="max-width:600px; margin:0 auto; margin-top:3em;" ng-show="actTab==2">
                    <span class="text-disabled text-reference">Today</span>
                    <md-card md-theme="notif-color">
                        <div layout="row" layout-align="start center" style="padding:0 1em 0; height:50px;">
                            <span flex class="md-subhead">Identicard</span>
                            <md-button flex ng-click="openUser($event)" class="user-mail-button">user@mail.com</md-button>
                        </div>
                        <div style="overflow:hidden;" ng-style="{'height': (showId?'auto':'100px')}">
                            <img ng-src="img/ID.png" class="md-card-image" alt="user-id" style="margin-top: -176px;" ng-click="showId=!showId">
                        </div>
                        <div class="md-actions" layout="row" layout-align="start center">
                            <div layout="row" flex style="margin-left:1em;">
                                <span class="text-secondary md-caption">09/02/2015</span>
                                <span class="text-secondary md-caption" style="margin-left:0.5em;">- 11:11 am.</span>
                            </div>

                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="not_interested" class="denied-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Denied</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="done" class="approved-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Approved</md-tooltip>
                            </md-button>
                        </div>
                    </md-card>

                    <md-card md-theme="notif-color-1" class="md-primary">
                        <div layout="row" layout-align="start center" style="padding:0 1em 0; height:50px;">
                            <span flex class="md-subhead">Billing</span>
                            <md-button flex ng-click="openUser($event)" class="user-mail-button">user@mail.com</md-button>
                        </div>
                        <md-content class="md-primary" layout="row" layout-padding>
                            <md-input-container flex>
                                <label>DNI</label>
                                <input ng-model="falseDNI" disabled>
                            </md-input-container>
                            <md-input-container flex>
                                <label>DNI</label>
                                <input ng-model="falseDNI" disabled>
                            </md-input-container>
                        </md-content>
                        <div class="md-actions" layout="row" layout-align="start center">
                            <div layout="row" flex style="margin-left:1em;">
                                <span class="text-secondary md-caption">09/02/2015</span>
                                <span class="text-secondary md-caption" style="margin-left:0.5em;">- 11:11 am.</span>
                            </div>

                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="not_interested" class="denied-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Denied</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="done" class="approved-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Approved</md-tooltip>
                            </md-button>
                        </div>
                    </md-card>
                    <span class="text-disabled" style="font-size: 0.8em; margin: 1.5em; margin-bottom: 1em;">Yesterday</span>
                    <md-card md-theme="notif-color">
                        <div layout="row" layout-align="start center" style="padding:0 1em 0; height:50px;">
                            <span flex class="md-subhead">Identicard</span>
                            <md-button flex ng-click="openUser($event)" class="user-mail-button">user@mail.com</md-button>
                        </div>
                        <div style="overflow:hidden;" ng-style="{'height': (showId?'auto':'100px')}">
                            <img ng-src="img/ID.png" class="md-card-image" alt="user-id" style="margin-top: -176px;" ng-click="showId=!showId">
                        </div>
                        <div class="md-actions" layout="row" layout-align="start center">
                            <div layout="row" flex style="margin-left:1em;">
                                <span class="text-secondary md-caption">09/02/2015</span>
                                <span class="text-secondary md-caption" style="margin-left:0.5em;">- 11:11 am.</span>
                            </div>

                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="not_interested" class="denied-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Denied</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="done" class="approved-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Approved</md-tooltip>
                            </md-button>
                        </div>
                    </md-card>

                    <md-card md-theme="notif-color-1" class="md-primary">
                        <div layout="row" layout-align="start center" style="padding:0 1em 0; height:50px;">
                            <span flex class="md-subhead">Billing</span>
                            <md-button flex ng-click="openUser($event)" class="user-mail-button">user@mail.com</md-button>
                        </div>
                        <md-content class="md-primary" layout="row" layout-padding>
                            <md-input-container flex>
                                <label>DNI</label>
                                <input ng-model="falseDNI" disabled>
                            </md-input-container>
                            <md-input-container flex>
                                <label>DNI</label>
                                <input ng-model="falseDNI" disabled>
                            </md-input-container>
                        </md-content>
                        <div class="md-actions" layout="row" layout-align="start center">
                            <div layout="row" flex style="margin-left:1em;">
                                <span class="text-secondary md-caption">09/02/2015</span>
                                <span class="text-secondary md-caption" style="margin-left:0.5em;">- 11:11 am.</span>
                            </div>

                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="not_interested" class="denied-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Denied</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="done" class="approved-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Approved</md-tooltip>
                            </md-button>
                        </div>
                    </md-card>
                    <span class="text-disabled" style="font-size: 0.8em; margin: 1.5em; margin-bottom: 1em;">January</span>
                    <md-card md-theme="notif-color">
                        <div layout="row" layout-align="start center" style="padding:0 1em 0; height:50px;">
                            <span flex class="md-subhead">Identicard</span>
                            <md-button flex ng-click="openUser($event)" class="user-mail-button">user@mail.com</md-button>
                        </div>
                        <div style="overflow:hidden;" ng-style="{'height': (showId?'auto':'100px')}">
                            <img ng-src="img/ID.png" class="md-card-image" alt="user-id" style="margin-top: -176px;" ng-click="showId=!showId">
                        </div>
                        <div class="md-actions" layout="row" layout-align="start center">
                            <div layout="row" flex style="margin-left:1em;">
                                <span class="text-secondary md-caption">09/02/2015</span>
                                <span class="text-secondary md-caption" style="margin-left:0.5em;">- 11:11 am.</span>
                            </div>

                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="not_interested" class="denied-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Denied</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="done" class="approved-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Approved</md-tooltip>
                            </md-button>
                        </div>
                    </md-card>

                    <md-card md-theme="notif-color-1" class="md-primary">
                        <div layout="row" layout-align="start center" style="padding:0 1em 0; height:50px;">
                            <span flex class="md-subhead">Billing</span>
                            <md-button flex ng-click="openUser($event)" class="user-mail-button">user@mail.com</md-button>
                        </div>
                        <md-content class="md-primary" layout="row" layout-padding>
                            <md-input-container flex>
                                <label>DNI</label>
                                <input ng-model="falseDNI" disabled>
                            </md-input-container>
                            <md-input-container flex>
                                <label>DNI</label>
                                <input ng-model="falseDNI" disabled>
                            </md-input-container>
                        </md-content>
                        <div class="md-actions" layout="row" layout-align="start center">
                            <div layout="row" flex style="margin-left:1em;">
                                <span class="text-secondary md-caption">09/02/2015</span>
                                <span class="text-secondary md-caption" style="margin-left:0.5em;">- 11:11 am.</span>
                            </div>

                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="not_interested" class="denied-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Denied</md-tooltip>
                            </md-button>
                            <md-button class="md-icon-button website-actions" aria-label="Settings">
                                <ng-md-icon icon="done" class="approved-site-icon" size="18"></ng-md-icon>
                                <md-tooltip>Mark as Approved</md-tooltip>
                            </md-button>
                        </div>
                    </md-card>
                </div>
            </section>
        </div>
    </div>
<!-- </div> -->
