<!-- <div style="overflow-y:auto; height:100%;"> -->
    <md-tabs md-dynamic-height="true" md-center-tabs="true" class="md-primary" md-border-bottom>
        <md-tab label="{{textos.home.pending}}">
            <div class="the-wrapper referers">
                <div layout="row" style="width:100%; max-width:600px; margin:0 auto;">
                    <span class="text-secondary md-caption" style="margin: 0.6em 0; width: 50%; padding-left: 1.5em;">{{textos.home.referrer}}</span>
                    <span class="text-secondary md-caption" style="margin: 0.6em 0; width: 50%; padding-left: 2.8em;">{{textos.home.referred}}</span>
                </div>
                <div layout="column" class="md-whiteframe-z1" ng-repeat="(key, a) in pending" layout-align="start center" style="max-width: 600px; margin: auto; margin-bottom: 1em;">
                    <div layout="row" layout-padding style="background-color:#FFF9C4; width:100%;">
                        <!-- <div layout="column" style="width:100%; margin-left: 0.5em; height:40px;"> -->
                        <div layout="column" flex>
                            <div class="md-body-1 text-ellipsis">{{a.userNameReferrer}} {{a.userLastNameReferrer}}</div>
                            <div class="md-caption text-ellipsis" style="margin:auto 0;">{{a.userEmailReferrer}}</div>
                        </div>
                        <ng-md-icon icon="trending_neutral" style="fill:rgba(0, 0, 0, 0.54); margin:auto;" size="20"></ng-md-icon>
                        <!-- <div layout="column" style="width:100%; margin-left: 2em; height:40px;"> -->
                        <div layout="column" flex>
                            <div class="md-body-1 text-ellipsis">{{a.userNameReferred}} {{a.userLastNameReferred}}</div>
                            <div class="md-caption text-ellipsis">{{a.userEmailReferred}}</div>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="start center" style="background-color:#fff; width:100%; height:40px;">
                        <span class="md-caption text-secondary" flex style="margin-left: 1.5em;">{{a.rcuTime | date:'dd/MM/yyyy'}}</span>
                         <md-button class="md-icon-button denied-button" aria-label="Settings" style="margin:auto;">
                             <ng-md-icon icon="not_interested" class="denied-icon" size="20" ng-click="changeStatus($event, a.rcuId, 3)">
                             <md-tooltip>Mark as Denied</md-tooltip>
                         </ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button approved-button" aria-label="Eat cake" style="margin:auto;">
                            <ng-md-icon icon="done" class="approved-icon" size="20" ng-click="changeStatus($event, a.rcuId, 1)">
                              <md-tooltip>Mark as Approved</md-tooltip>
                            </ng-md-icon>
                        </md-button>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="{{textos.home.approved}}">
            <div class="the-wrapper referers">
                <div layout="row" style="width:100%; max-width:600px; margin:0 auto;">
                    <span class="text-secondary md-caption" style="margin: 0.6em 0; width: 50%; padding-left: 1.5em;">{{textos.home.referrer}}</span>
                    <span class="text-secondary md-caption" style="margin: 0.6em 0; width: 50%; padding-left: 2.8em;">{{textos.home.referred}}</span>
                </div>
                <div layout="column" class="md-whiteframe-z1" ng-repeat="(key, a) in approved" layout-align="start center" style="max-width: 600px; margin: auto; margin-bottom: 1em;">
                    <div layout="row" layout-padding style="background-color:#E8F5E9; width:100%;">
                        <div layout="column" style="width:100%; margin-left: 0.5em; height:40px;">
                            <span class="md-body-1">{{a.userNameReferrer}} {{a.userLastNameReferrer}}</span>
                            <span class="md-caption" style="margin:auto 0;">{{a.userEmailReferrer}}</span>
                        </div>
                        <ng-md-icon icon="trending_neutral" style="fill:rgba(0, 0, 0, 0.54); margin:auto;" size="20"></ng-md-icon>
                        <div layout="column" style="width:100%; margin-left: 2em; height:40px;">
                            <span class="md-body-1">{{a.userNameReferred}} {{a.userLastNameReferred}}</span>
                            <span class="md-caption" style="margin:auto 0;">{{a.userEmailReferred}}</span>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="start center" style="background-color:#fff; width:100%; height:40px;">
                        <span class="md-caption text-secondary" flex style="margin-left: 1.5em;">{{a.rcuTime | date:'dd/MM/yyyy'}}</span>
                        <md-button class="md-icon-button pending-button" aria-label="Settings" style="">
                          <ng-md-icon icon="access_time" class="pending-icon" size="20" ng-click="changeStatus($event, a.rcuId, 2)">
                              <md-tooltip>Mark as Pending</md-tooltip>
                          </ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button denied-button" aria-label="Settings" style="">
                            <ng-md-icon icon="not_interested" class="denied-icon" size="20" ng-click="changeStatus($event, a.rcuId, 3)">
                            <md-tooltip>Mark as Denied</md-tooltip>
                        </ng-md-icon>
                       </md-button>
                    </div>
                </div>
            </div>
        </md-tab>
        <md-tab label="{{textos.home.rejected}}">
            <div class="the-wrapper referers">
                <div layout="row" style="width:100%; max-width:600px; margin:0 auto;">
                    <span class="text-secondary md-caption" style="margin: 0.6em 0; width: 50%; padding-left: 1.5em;">{{textos.home.referrer}}</span>
                    <span class="text-secondary md-caption" style="margin: 0.6em 0; width: 50%; padding-left: 2.8em;">{{textos.home.referred}}</span>
                </div>
                <div layout="column" class="md-whiteframe-z1" ng-repeat="(key, a) in denied" layout-align="start center" style="max-width: 600px; margin: auto; margin-bottom: 1em;">
                    <div layout="row" layout-padding style="background-color:#FFEBEE; width:100%;">
                        <div layout="column" style="width:100%; margin-left: 0.5em; height:40px;">
                            <span class="md-body-1">{{a.userNameReferrer}} {{a.userLastNameReferrer}}</span>
                            <span class="md-caption" style="margin:auto 0;">{{a.userEmailReferrer}}</span>
                        </div>
                        <ng-md-icon icon="trending_neutral" style="fill:rgba(0, 0, 0, 0.54); margin:auto;" size="20"></ng-md-icon>
                        <div layout="column" style="width:100%; margin-left: 2em; height:40px;">
                            <span class="md-body-1">{{a.userNameReferred}} {{a.userLastNameReferred}}</span>
                            <span class="md-caption" style="margin:auto 0;">{{a.userEmailReferred}}</span>
                        </div>
                    </div>
                    <md-divider></md-divider>
                    <div layout="row" layout-align="start center" style="background-color:#fff; width:100%; height:40px;">
                        <span class="md-caption text-secondary" flex style="margin-left: 1.5em;">{{a.rcuTime | date:'dd/MM/yyyy'}}</span>
                        <md-button class="md-icon-button pending-button" aria-label="Settings" style="margin:auto;">
                          <ng-md-icon icon="access_time" class="pending-icon" size="20" ng-click="changeStatus($event, a.rcuId, 2)">
                              <md-tooltip>Mark as Pending</md-tooltip>
                          </ng-md-icon>
                        </md-button>
                        <md-button class="md-icon-button approved-button" aria-label="Eat cake" style="margin:auto;">
                          <ng-md-icon icon="done" class="approved-icon" size="20" ng-click="changeStatus($event, a.rcuId, 1)">
                              <md-tooltip>Mark as Approved</md-tooltip>
                          </ng-md-icon>
                        </md-button>
                    </div>
                </div>

            </div>
        </md-tab>
    </md-tabs>
<!-- </div> -->
