<md-dialog style="height:75%; width:80%;">
  <!-- <div style="position:absolute; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.40); z-index: 2;"></div>
  <div style="position:absolute; left: 50%; height:50%; top:50%;">
    <div class="modal-confirmation">
      <span style="color:#2196F3; font-size:1.2em; margin-left:1em; text-transform:uppercase;">Confirmation</span><br/> 
        <div style="height:80px; padding:1em;" layout="column" layout-align="center center">
          <span>You want to delete the report number 1234567?</span>  
        </div>
      <div class="md-actions" layout="row"> 
        <md-button ng-click="close()">cancel</md-button>
        <md-button class="md-warn" ng-click="close()">delete</md-button>
      </div>
    </div>
  </div>  -->
   <!-- <div style="position: absolute; left: 50%;">
        <div style="position: relative; left: -50%; border: dotted red 1px;">
            I am some centered shrink-to-fit content! <br />
            tum te tum
        </div>
    </div>  -->
  <span style="color:#2196F3; font-size:1.2em; padding:1em; margin-left:1em; text-transform:uppercase;">Queued Reports</span>  
  <div class="md-padding" layout="row" layout-align="end center">
      <md-button class="md-warn" style="margin-right:2em; padding:0.7em;">clear cache</md-button>  
  </div>
  <md-content class="md-padding" style="padding: 24px; height:100%;">
        <div class="queued-item-report md-whiteframe-z1" layout="row" layout-align="start center">
          <div flex layout="row" layout-align="start center">
            <small style="margin-left:10px; padding:0.6em; color:#757575;">01</small>
            <span style="padding:0.4em;">My report 000201</span>        
            <span style="padding:0.6em; color:#757575; font-size:0.9em;">Requested by</span>        
            <span flex style="padding:0.4em;">User01</span>          
          </div>
          <ng-md-icon icon="cancel" style="padding:0.4em;" class="report-item-cancel" size="24"></ng-md-icon> 
        </div>
        <div class="queued-item-report md-whiteframe-z1" layout="row" layout-align="center start">
          <div flex layout="row" layout-align="start center">
            <small style="margin-left:10px; padding:0.6em; color:#757575;">02</small>
            <span style="padding:0.4em;">My report 000202</span>        
            <span style="padding:0.6em; color:#757575; font-size:0.9em;">Requested by</span>        
            <span flex style="padding:0.4em;">User02</span>          
          </div>
          <ng-md-icon icon="cancel" style="padding:0.4em;" class="report-item-cancel" size="24"></ng-md-icon> 
        </div>
  </md-content>
	<div class="md-actions" layout="row">	
		<md-button style="float:right; margin:1em;" ng-click="cancel()">close</md-button>
	</div>
</md-dialog>