<md-card layout="row" flex style="max-width: 1200px; width: 100%; margin: 0.5em auto; overflow: auto;">
    <div layout="column" flex>
        <md-toolbar class="md-primary md-hue-1">
            <div class="md-toolbar-tools">
                <h2>
                    <span>User Profiles</span>
                </h2>
                <span flex></span>
                <!-- <md-input-container md-theme="default" class="select-system">
                    <label>Select System</label>
                    <md-select ng-model="ctrl.cuca">
                        <md-option value="Network">Network</md-option>
                        <md-option value="Publisher">Publisher</md-option>
                        <md-option value="Advertiser">Advertiser</md-option>
                    </md-select>
                </md-input-container> -->

                <md-button class="md-fab md-mini md-accent md-hue-1 category-edit-fab" aria-label="Eat cake">
                    <ng-md-icon icon="delete" style="fill:rgba(0,0,0,0.54);" size="20"></ng-md-icon>
                    <md-tooltip md-direction="down">Eliminar Profile</md-tooltip>
                </md-button>
                <md-button class="md-fab md-mini md-accent md-hue-1 category-edit-fab" aria-label="Eat cake">
                    <ng-md-icon icon="edit" style="fill:rgba(0,0,0,0.54);" size="20"></ng-md-icon>
                    <md-tooltip md-direction="down">Editar Profile</md-tooltip>
                </md-button>
            </div>
        </md-toolbar>
        <div layout="row" flex style="overflow: auto;">
            <div style="width:200px; min-width:200px; border-right: 1px solid rgba(0,0,0,0.12);">
                <div>
                    <md-list-item layout="row" layout-align="center center" style="height:72px;">
                        <div class="md-list-item-text" layout="row" layout-align="center center">
                            <input type="text" name="name" value="" placeholder="Agregar Perfil" ng-enter="createCategory(category.name)" class="add-profile-input">
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <!-- <md-list-item layout="row" layout-align="center center" hide>
                            <div class="md-list-item-text" layout="row" layout-align="center center">
                                <input type="text" name="name" value="" placeholder="agregar categoria" class="add-category-input">
                            </div>
                    </md-list-item> -->
                    <!-- <div ng-repeat="item in [1, 2, 3, 4, 5]"> -->
                    <div>
                        <md-list-item class="md-2-line md-aux selected-test">
                            <div class="md-list-item-text">
                                <h3>Manager</h3>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line md-aux">
                            <div class="md-list-item-text">
                                <h3>Admin</h3>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line md-aux">
                            <div class="md-list-item-text">
                                <h3>Facturacion</h3>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                        <md-list-item class="md-2-line md-aux">
                            <div class="md-list-item-text">
                                <h3>SuperMan</h3>
                            </div>
                        </md-list-item>
                        <md-divider></md-divider>
                    </div>
                </div>
            </div>
            <div layout="column" flex style="border-right: 1px solid rgba(0,0,0,0.12); height:100%;">

                <div layout="row" style="max-height: 50px; margin: 0 1.5em; margin-top: 2em;">
                    <h1 class="md-title" flex>Manager</h1>
                    <md-input-container md-theme="default" class="select-system">
                        <label>Select System</label>
                        <md-select ng-model="ctrl.cuca">
                            <md-option value="Network">Network</md-option>
                            <md-option value="Publisher">Publisher</md-option>
                            <md-option value="Advertiser">Advertiser</md-option>
                        </md-select>
                    </md-input-container>
                </div>

                <div layout="column" ng-cloak>
                  <md-content class="md-padding autocomplete" layout="column" style="padding: 0; margin: 0 1.5em;">
                        <md-input-container style="margin-bottom: 0;">
                            <label>Search Users</label>
                            <input ng-model="user.title">
                        </md-input-container>
                    <md-subheader class="md-no-sticky">Users</md-subheader>
                    <md-list class="fixedRows" layout="row">
                      <!-- <md-subheader class="md-no-sticky">Users</md-subheader> -->
                      <md-list-item class="md-2-line contact-item">
                        <img src="img/avatars/a-blue-guy.png" class="md-avatar" alt=""/>
                        <div class="md-list-item-text compact">
                          <h3>User 1</h3>
                          <p>user1@mail.com</p>
                        </div>
                      </md-list-item>
                      <md-list-item class="md-2-line contact-item selected">
                        <img src="img/avatars/a-green-guy.png" class="md-avatar" alt=""/>
                        <div class="md-list-item-text compact">
                          <h3>User 2</h3>
                          <p>user2@mail.com</p>
                        </div>
                      </md-list-item>
                      <md-list-item class="md-2-line contact-item selected">
                        <img src="img/avatars/a-yellow-girl.png" class="md-avatar" alt=""/>
                        <div class="md-list-item-text compact">
                          <h3>User 3</h3>
                          <p>user2@mail.com</p>
                        </div>
                      </md-list-item>
                      <md-list-item class="md-2-line contact-item selected">
                        <img src="img/avatars/a-red-girl.png" class="md-avatar" alt=""/>
                        <div class="md-list-item-text compact">
                          <h3>User 4</h3>
                          <p>user2@mail.com</p>
                        </div>
                      </md-list-item>
                    </md-list>

                  </md-content>
                </div>

                <div class="module-list">
                    <!-- <md-subheader><md-checkbox ng-model="data.cb1" aria-label="Checkbox 1" style="margin: 0;"></md-checkbox><span style="line-height: 20px;">Offers</span> </md-subheader> -->
                    <md-list-item class="first-line-list">
                        <md-checkbox ng-model="message.selected"></md-checkbox>
                        <p>Offers</p>
                        <!-- <md-button class="md-icon-button" aria-label="More"> -->
                            <ng-md-icon ng-click="showModule = !showModule; $event.stopPropagation()"  icon="add" style="fill:rgba(0, 0, 0, 0.54)" size="20"></ng-md-icon>
                        <!-- </md-button> -->
                    </md-list-item>
                        <div class="" ng-show="showModule">
                            <md-list-item>
                                <md-checkbox ng-model="message.selected0"></md-checkbox>
                                <p>Alta de oferta</p>
                            </md-list-item>
                            <!-- <md-divider></md-divider> -->
                            <md-list-item>
                                <md-checkbox ng-model="message.selected1"></md-checkbox>
                                <p>Editar Oferta</p>
                            </md-list-item>
                            <!-- <md-divider></md-divider> -->
                            <md-list-item>
                                <md-checkbox ng-model="message.selected2"></md-checkbox>
                                <p>Pausar Oferta</p>
                            </md-list-item>

                            <div class="sub-module-list">
                                <md-list-item class="first-line-list">
                                    <md-checkbox ng-model="message.selected3"></md-checkbox>
                                    <p class="md-caption">Payouts</p>
                                </md-list-item>
                                <md-list-item>
                                    <md-checkbox ng-model="message.selected4"></md-checkbox>
                                    <p class="md-caption">Cambiar Payouts</p>
                                </md-list-item>
                                <!-- <md-divider></md-divider> -->
                                <md-list-item>
                                    <md-checkbox ng-model="message.selected5"></md-checkbox>
                                    <p class="md-caption">Ver Payouts</p>
                                </md-list-item>
                                <!-- <md-divider></md-divider> -->
                                <md-list-item>
                                    <md-checkbox ng-model="message.selected6"></md-checkbox>
                                    <p class="md-caption">Modificar URL</p>
                                </md-list-item>
                        </div>
                    </div>
                </div>
                <md-content style="height: 100%;" hide>
                    <section>
                        <div layout="row" layout-padding>
                            <!-- <md-button class="md-primary md-hue-1 icon-aux" aria-label="icons" layout="column" ng-click="showIcons = !showIcons;">
                                <ng-md-icon icon="add" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="48"></ng-md-icon>
                                add icon
                            </md-button> -->
                            <div layout="column" flex>
                                <md-input-container style="width:100%; max-width:250px;">
                                    <label>Channel name</label>
                                    <input ng-model="user.firstName">
                                </md-input-container>
                                <md-input-container style="width:100%; max-width:500px;">
                                    <label>Description</label>
                                    <input ng-model="theMax">
                                </md-input-container>
                                <div layout="row" layout-align="center end">
                                    <md-checkbox class="md-primary" aria-label="Checkbox 1">Channel activo en el sistema</md-checkbox>
                                    <md-checkbox class="md-primary" aria-label="Checkbox 1">Channel visible para el publico</md-checkbox>
                                </div>
                            </div>
                        </div>
                        <div layout="row" layout-wrap ng-show="showIcons" layout-align="center center" layout-margin>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="android" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="apple" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="whatsapp" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="info" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="favorite_outline" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="new_releases" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="textsms" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="insert_emoticon" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="cloud_download" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="desktop_windows" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="color_lens" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="cast" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="file_download" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="directions_bike" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="my_library_music" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="star" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="my_library_books" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="theaters" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="videocam" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="radio" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="attach_money" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="face" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="whatshot" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="public" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="get_app" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="mic" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="shop" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="thumb_up" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="play_circle_fill" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                            <md-button class="md-icon-button md-primary" aria-label="Settings">
                                <ng-md-icon icon="web" style="fill:rgba(0, 0, 0, 0.54); margin: auto;" size="24"></ng-md-icon>
                            </md-button>
                        </div>
                    </section>
                </md-content>
            </div>
        </div>
    </div>
</md-card>
