<div ng-controller="referersPublisherCtrl">
	<div class="lock-size referers-fab" layout="row" layout-align="center center">
	    <md-fab-speed-dial md-open="true" md-direction="down" class="md-fling">
	        <md-fab-trigger>
	            <md-button aria-label="menu" class="md-fab">
	                <md-tooltip md-direction="top">Menu</md-tooltip>
	                <ng-md-icon icon="menu" style="fill:black" size="24"></ng-md-icon>
	            </md-button>
	        </md-fab-trigger>
	        <md-fab-actions>
	            <md-button aria-label="Google Hangout" class="md-fab md-raised md-mini" ng-class="{'referer-button-pending': (option==1)}" ng-click="option=1; $event.stopPropagation();">
	                <ng-md-icon icon="access_time" class="pending-icon" size="20">
	                    <md-tooltip md-direction="left">Pending</md-tooltip>
	                </ng-md-icon>
	            </md-button>
	            <md-button aria-label="Facebook" class="md-fab md-raised md-mini" ng-class="{'referer-button-approved': (option==2)}" ng-click="option=2; $event.stopPropagation();">
	                <ng-md-icon icon="done" class="approved-icon" size="20">
	                    <md-tooltip md-direction="left">Approved</md-tooltip>
	                </ng-md-icon>
	            </md-button>
	            <md-button aria-label="Twitter" class="md-fab md-raised md-mini" ng-class="{'referer-button-rejected': (option==3)}" ng-click="option=3; $event.stopPropagation();">
	                <ng-md-icon icon="not_interested" class="denied-icon" size="20">
	                    <md-tooltip md-direction="left">Denied</md-tooltip>
	                </ng-md-icon>
	            </md-button>
	        </md-fab-actions>
	    </md-fab-speed-dial>
	</div>
	<!-- <div style="width:100%; display:flex; height:100%;"> -->
	    <div style="width:100%; height:100%;">
			<div hide class="no-data-to-show" layout="row" layout-align="center center"><span class="md-title text-disabled">no hay referidos pendientes</span></div>
<!-- NUEVA TAJETA -->
			<div style="padding-top:5em;">
				<div layout="column" class="md-whiteframe-z1 referer-card" layout-align="start center">

					<div layout="row" layout-padding class="referer-card-approved">
		                <div layout="column" style="width:100%; margin-left: 0.5em; height:40px;">
		                    <span class="md-body-1">test</span>
		                    <span class="md-caption" style="margin:auto 0;">test-2</span>
		                </div>
		                <ng-md-icon icon="trending_neutral" style="fill:rgba(0, 0, 0, 0.54); margin:auto;" size="20"></ng-md-icon>
		                <div layout="column" style="width:100%; margin-left: 2em; height:40px;">
		                    <span class="md-body-1">test 3</span>
		                    <span class="md-caption" style="margin:auto 0;">test 4</span>
		                </div>
		            </div>
					<div class="milestone-circle-container">
						<span class="milestone-circle" style="left:0%;">
							<md-tooltip>test 1</md-tooltip>
						</span>
						<span class="milestone-circle" style="left:20%;">
							<md-tooltip>test 2</md-tooltip>
						</span>
						<span class="milestone-circle" style="left:40%;">
							<md-tooltip>test 3</md-tooltip>
						</span>
						<span class="milestone-circle" style="left:70%;">
							<md-tooltip>test 4</md-tooltip>
						</span>
						<span class="milestone-circle" style="left:100%;">
							<md-tooltip>test 5</md-tooltip>
						</span>
					</div>
					<div class="milestone-card-bar">
						<div class="milestone-card-bar-ink" style="width:50%;"></div>
					</div>
					<md-divider></md-divider>
		            <div layout="row" layout-align="start center" style="background-color:#fff; width:100%; height:40px;">
		                <span class="md-caption text-secondary" flex style="margin-left: 1.5em;">{{a.rcuTime | date:'dd/MM/yyyy'}}</span>
		                <md-button class="md-icon-button pending-button" aria-label="Settings" ng-show="(option!=1)">
		                  	<ng-md-icon icon="access_time" class="pending-icon" size="20">
		                      	<md-tooltip md-delay="1000">Mark as Pending</md-tooltip>
		                  	</ng-md-icon>
		                </md-button>
		                <md-button class="md-icon-button denied-button" aria-label="Settings" ng-show="(option!=2)">
		                    <ng-md-icon icon="done" class="approved-icon" size="20">
		                    	<md-tooltip md-delay="1000">Mark as approved</md-tooltip>
		                	</ng-md-icon>
		               </md-button>
		               <md-button class="md-icon-button denied-button" aria-label="Settings" ng-show="(option!=3)">
		                    <ng-md-icon icon="not_interested" class="denied-icon" size="20" ng-click="changeStatus($event, a.rcuId, 3)">
		                    	<md-tooltip md-delay="1000">Mark as Denied</md-tooltip>
		                	</ng-md-icon>
		               </md-button>
		            </div>
		        </div>
	        </div>
	        <div layout="row" style="width:100%; max-width:600px; margin:0 auto; margin-top:50px;">
	            <span class="text-disabled text-reference">Referidor</span>
	            <span class="text-disabled text-reference">Referido</span>
	        </div>
	        <div layout="column" class="md-whiteframe-z1 referer-card" ng-repeat="a in getList(option) track by $index" layout-align="start center">
	            <div layout="row" layout-padding ng-class="{'referer-card-pending': (option==1), 'referer-card-approved': (option==2), 'referer-card-rejected': (option==3)}">
	                <div layout="column" style="width:100%; margin-left: 0.5em; height:40px;">
	                    <span class="md-body-1">{{a.userNameReferrer}} {{a.userLastNameReferrer}}</span>
	                    <span class="md-caption" style="margin:auto 0;">{{a.userEmailReferrer}}</span>
	                </div>
	                <ng-md-icon icon="trending_neutral" style="fill:rgba(0, 0, 0, 0.54); margin:auto;" size="20"></ng-md-icon>
	                <div layout="column" style="width:100%; margin-left: 2em; height:40px;">
	                    <span class="md-body-1">{{a.userNameReferred}} {{a.userLastNameReferred}}</span>
	                    <span class="md-caption" style="margin:auto 0;">{{a.userEmailReferred}}</span>
	                </div>
	            </div>
	            <md-divider></md-divider>
	            <div layout="row" layout-align="start center" style="background-color:#fff; width:100%; height:40px;">
	                <span class="md-caption text-secondary" flex style="margin-left: 1.5em;">{{a.rcuTime | date:'dd/MM/yyyy'}}</span>
	                <md-button class="md-icon-button pending-button" aria-label="Settings" ng-show="(option!=1)">
	                  	<ng-md-icon icon="access_time" class="pending-icon" size="20" ng-click="changeStatus($event, a.rcuId, 2)">
	                      	<md-tooltip md-delay="1000">Mark as Pending</md-tooltip>
	                  	</ng-md-icon>
	                </md-button>
	                <md-button class="md-icon-button denied-button" aria-label="Settings" ng-show="(option!=2)">
	                    <ng-md-icon icon="done" class="approved-icon" size="20" ng-click="changeStatus($event, a.rcuId, 1)">
	                    	<md-tooltip md-delay="1000">Mark as approved</md-tooltip>
	                	</ng-md-icon>
	               </md-button>
	               <md-button class="md-icon-button denied-button" aria-label="Settings" ng-show="(option!=3)">
	                    <ng-md-icon icon="not_interested" class="denied-icon" size="20" ng-click="changeStatus($event, a.rcuId, 3)">
	                    	<md-tooltip md-delay="1000">Mark as Denied</md-tooltip>
	                	</ng-md-icon>
	               </md-button>
	            </div>
	        </div>
	    </div>
	<!-- </div> -->
</div>
